- color = single_event.category.try(:color)

.single-event.row
  .small-1.columns= render partial: 'modules/categories/indicator', locals: { color: color }
  = link_to event_single_event_path(single_event.event, single_event), class: "small-11 columns"  do
    %h3= single_event.title
    %h4 I will be the subtitle
    %p.additional-info
      - if single_event.venue.present?
        #{single_event.venue.city},
        #{single_event.venue.location},
        #{single_event.venue.street},
      - if !single_event.full_day
        = I18n.localize(single_event.occurrence, format: "%H:%M")
