
.minical
  .minical-wrapper
    - @mini_calendar_events.each do |day, events|
      .minical-day{ class: (" active" if day == Date.today) }

        .minical-day-header
          %strong= I18n.localize(day, format: "%a")
          = I18n.localize(day, format: "%b %d")

        .minical-day-body
          - max_cells_per_box = 8
          - events.each_with_index do |event, index|
            - break if index >= max_cells_per_box
            - if event
              = link_to '', event_single_event_path(event.event, event), class: "minical-cell #{'first-cell' if index % 3 == 0}", style: "background-color: #{event.category.color}"
            - else
              .minical-cell.empty{ class: (" first-cell" if index % 3 == 0) }

          - if events.select { |e| e }.size > max_cells_per_box
            .minical-cell.empty.see-more
          - else
            .minical-cell.empty.add-new
              .add-button

-# Scroll to the active day, which is 'today' on page load:
:javascript
  $(function() {
    $('.minical').scrollTo('50%');
  });


