.minical
  .minical-wrapper
    - @mini_calendar_events.each do |day, events|
      .minical-day{ class: (" active" if day == Date.today) }

        .minical-day-header
          %strong= I18n.localize(day, format: "%a")
          = I18n.localize(day, format: "%b %d")

        .minical-day-body
          - max_cells_per_box = 8
          - events.each_with_index do |event, index|
            - break if index >= max_cells_per_box
            - first_cell = index % 3 == 0
            - if event
              = render partial: 'modules/calendars/minical_filled_cell',
                  locals: { event: event, first_cell: first_cell }
            - else
              .minical-cell.empty{ class: (" first-cell" if first_cell) }

          - if events.select { |e| e }.size > max_cells_per_box
            = link_to '', calendar_path(start: day),
                class: 'minical-cell empty see-more',
                title: t('minical.see_more')
          - else
            = link_to '', new_suggestion_path,
                class: 'minical-cell empty add-new',
                title: t('minical.add_new')
