= link_to event_single_event_path(event.event, event),
    class: "minical-cell non-empty #{'first-cell' if first_cell}",
    style: "background-color: #{event.category.color}" do

  .cell-content
    .event-category
      = render partial: 'modules/categories/indicator',
        locals: { color: event.category.color, size: '14px' }
    .event-title= event.title
    .event-time= event.occurrence.strftime("%H:%M Uhr")
    .event-location= event.location
