- title "Abonnieren"

.abbonieren

  - if @event
    .clippy_row
      %input.ical_link_field{ size: 40, value: url_for(action: 'for_event', controller: 'ical', format: 'ical', only_path: false, id: @event.id)}
      #general_link
        = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"

  - elsif @single_event
    .clippy_row
      %input.ical_link_field{ size: 40, value: url_for(action: 'for_single_event', controller: 'ical', format: 'ical', only_path: false, id: @single_event.id)}
      #general_link
        = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"
  - elsif @tag
    .clippy_row
      %input.ical_link_field{ size: 40, value: url_for(action: 'for_tag', controller: 'ical', format: 'ical', only_path: false, id: @tag)}
      #general_link
        = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"
  - else
    %p
      Die iCal URL zum Abonnieren des gesamten Kalenders:
    .clippy_row
      %input.ical_link_field{ size: 40, value: url_for( action: "general", controller: "ical", format: "ical", only_path: false )}

      #general_link
        = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"

    - if user_signed_in?
      %p
        Nur die Termine Abonnieren, an denen man teilnimmt:

      .clippy_row
        %input.ical_link_field{ size: 40, value: url_for(action: "personalized", controller: "ical", format: "ical", only_path: false, guid: current_user.guid ) }
        #personal_link
          = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"

      %p
        Alle Termine bis auf solche, deren Tags ausgeschlossen wurden:

      .clippy_row
        %input.ical_link_field{ size: 40, value: url_for(action: "like_welcome_page", controller: "ical", format: "ical", only_path: false, guid: current_user.guid ) }
        #like_welcome
          = image_tag asset_path("clippy_up.png"), width: "14px", height: "14px"

:markdown
  # Google Calendar

  In der linken Spalte neben "Other Calendars" auf den Pfeil klicken und dann auf "Add by URL".

  Nun einfach die URL des Kalenders einfügen.

  # Apple iCal

  Im Menü "Kalender" auf "Abonnieren" klicken und dort die URL des Kalenders einfügen. Bei "Automatisch
  Aktualisieren" bitte "täglich" auswählen.

  [Zurück zur Übersicht](/)
