- if @single_event.description.present?
  .event-description
    .event-content-field
      .content-field-icon
        %i.icon-info-sign
      .content-field-text
        = @single_event.description

- if @single_event.url.present?
  .event-homepage
    .event-content-field
      .content-field-icon
        %i.icon-home
      .content-field-text
        %a.hidden-link{ href: @single_event.url }= @single_event.url

- if @single_event.twitter.present?
  .event-twitter-handle
    .event-content-field
      .content-field-icon
        %i.icon-twitter
      .content-field-text
        %a.hidden-link{ href: "http://twitter.com/#{@single_event.twitter}" }
          = "@#{@single_event.twitter}"
