- current_date = nil

- single_events.each do |single_event|
  - if current_date != single_event.occurrence.to_date
    - current_date = single_event.occurrence.to_date
    %h3
      = day_output_helper(current_date)

  .entry
    = single_event.occurrence.strftime("%H:%M") unless single_event.event.full_day
    - if user_signed_in? && current_user.likes?(single_event)
      = image_tag asset_path("star.png"), size: "12x12"
    = link_to single_event.title, event_single_event_path(single_event.event, single_event)
    - if !single_event.event.city.blank?
      %span.cityname
        = "(#{single_event.event.city})"
    / Display tags for this event, if any:
    = render "tags/tags", tag_list: single_event.event.tag_list + single_event.tag_list
