.event-participators
  %h3.black-bar-small-title.event-participators-title Teilnehmer
  - if @single_event.users.empty?
    %p
      %em keine Teilnehmer
  - else
    %ul.event-participators-list
      - @single_event.users.each_with_index do |user, index|
        - class_ = (index == 0 || index % 6 == 0) ? 'cuddle-to-left' : ''
        %li{ class: "participator #{class_}"}
          = link_to user_path(user) do
            = gravatar_image_tag(user.email, class: "user_gravatar", gravatar: { default: :identicon, size: 85 })

  - if user_signed_in? && !@single_event.users.include?(current_user)
    = button_to t('single_events.show.participate'), event_single_event_participate_path(@single_event.event, @single_event, state: :push), { method: :put, class: 'btn btn-inverse pull-right participate-button' }
  - elsif user_signed_in?
    = button_to t('single_events.show.unparticipate'), event_single_event_participate_path(@single_event.event, @single_event, state: :delete), { method: :put, class: 'btn btn-inverse pull-right participate-button' }
