%h3
  = t ".participants"
  - if @single_event.users.any?
    = "(#{@single_event.users.length})"

- if @single_event.users.empty?
  %p
    %em
      Keine Teilnehmer
- @single_event.users.each do |user|
  = link_to gravatar_image_tag(user.email, gravatar: { default: :identicon, size: 32 }, alt: user.nickname, class: "gravatar_tooltip", title: user.nickname),
    user_path(user)
- if user_signed_in? && !@single_event.users.include?(current_user)
  %p
    = button_to "Ich nehme teil", event_single_event_participate_path(@single_event.event, @single_event, state: :push), { method: :put, remote: true, "data-type" => "js" }
- elsif user_signed_in?
  %p
    = button_to "Ich nehme doch nicht teil", event_single_event_participate_path(@single_event.event, @single_event, state: :delete), { method: :put, remote: true, "data-type" => "js" }
