- color = @single_event.category.try(:color)
.single-event-sidebar
  .single-event-event-teaser
    .event.event-preview{ style: "border-top: 3px solid #{color}"}
      - if @single_event.picture.present?
        = image_tag(@single_event.picture.box_image.url, class: 'event-image')

      - if @single_event.event.description.present?
        .event-text
          = convert_markdown(@single_event.event.description, true)

  = render partial: "events/next_events", locals: { event: @single_event.event, current_single_event: @single_event }

  - if @advertisement.present?
    .single_event_advertisement
      Werbung
      = link_to(image_tag(@advertisement.picture.advertisement_image.rectangle.url), @advertisement.link)

  .event-external-links
    = link_to image_tag("blog-twitter.png"), "http://twitter.com/nerdhub_cgn", class: 'external-link'
    = link_to image_tag("blog-facebook.png"), "http://www.facebook.com/nerdhubcgn", class: 'external-link'

  .blog_nerdletter
    %h2 Nerdletter
    %form{action:"http://nerdhub.us5.list-manage.com/subscribe/post?u=748434db1c6d583cbe804429c&amp;id=0ea62d267d", method:"post", id:"mc-embedded-subscribe-form", name:"mc-embedded-subscribe-form", target:"_blank"}
      %input{type: "email", name: "EMAIL", placeholder: "E-Mail-Adresse", required: true}
      %input{type: "image", src: asset_path("blog-nerdletter.png")}
