%h1 Diesen Tag des Events bearbeiten

= semantic_form_for(@single_event, :url => url_for(:action => 'update', :id => @single_event.id)) do |f|
  = f.inputs do
    = f.input :topic
    = f.input :description
    %li
      %label
      = render "commons/markdown_info"

  = f.buttons do
    = f.commit_button
