- title @single_event.name

%div.right_row
  = render "events/map", :event => @event
  %div.map

  #twitter_like
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hackcologne">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

  #fb_like
    #fb-root
      <script src="http://connect.facebook.net/en_US/all.js#appId=213379535367603&amp;xfbml=1"></script>
      <fb:like href="#{event_url(@event)}" send="true" width="450" show_faces="false" font="" layout="button_count"></fb:like>

%h2
  = @event.full_day? ? @single_event.occurrence.strftime("%d.%m.%Y") :  @single_event.occurrence.strftime("%d.%m.%Y um %H:%M")

= render "tags/tags", :event => @single_event.event

- if @single_event.description.blank?
  %p
    %em
      Keine Beschreibung vorhanden
  - else
    = convert_markdown @single_event.description

%h3
  Über #{@single_event.event.name}

- if @single_event.event.description.blank?
  %p
    %em
      Keine Beschreibung vorhanden
  - else
    = truncate_html(simple_format(@single_event.event.description), 30, :ellipsis => " ... (#{link_to("mehr", @event)})")

.address
  = [@event.location, @event.street, @event.zipcode].delete_if {|d|d.blank?}.join("<br>").html_safe
  = @event.city

- unless @event.url.blank? && @event.twitter.blank?
  %p
    - unless @event.url.blank?
      = link_to "Webseite", @event.url
    - unless @event.twitter.blank?
      = link_to "Twitter", "http://twitter.com/#{@event.twitter}"

%p
  Zur Übersicht von
  = link_to @event.name, @event

- if can? :update, @event
  = link_to "Editieren", :action => "edit", :event_id => @event.id, :id => @single_event.id

%h3
  = t ".participants", :count => @single_event.users.length
- if @single_event.users.empty?
  %p
    %em
      Keine Teilnehmer
- @single_event.users.each do |user|
  = link_to gravatar_image_tag(user.email, :gravatar => { :default => :identicon, :size => 32 }, :alt => user.nickname, :class => "gravatar_tooltip", :title => user.nickname),
    user_path(user)
- if user_signed_in? && !@single_event.users.include?(current_user)
  %p
    = button_to "Ich nehme teil", {:action => "participate", :single_event_id => @single_event.id}, {:method => :put}
- elsif user_signed_in?
  %p
    = button_to "Ich nehme doch nicht teil", {:action => "unparticipate", :single_event_id => @single_event.id}, {:method => :put}


= render :partial => "comments/comments", :locals => {:commentable => @single_event}
