- color = @single_event.category.try(:color)

.row.event.single-event
  .span4
    .black-bar.black-bar-wide
      = render partial: 'modules/categories/indicator', locals: { size: '75px', color: color }
      .black-bar-content.black-bar-with-date{ data: { hlcolor: color } }
        .black-bar-top-part
          .black-bar-date
            = I18n.localize @single_event.occurrence, format: "%a, %d. %b %Y"
        .black-bar-center-part
          %h1.black-bar-title= @single_event.event.name
          .black-bar-time= I18n.localize(@single_event.occurrence, format: "%H:%M Uhr")

    .event-info
      - if @single_event.name?
        %h2= @single_event.name

      = render "single_events/description"
      = render "events/map", event: @single_event
      .event-map

      %address.event-venue
        anderScore GmbH<br>
        Frankenwerft 54<br>
        50123 Köln

      %p.pull-right
        Social Kram

      = render 'single_events/participants'
      = render partial: 'modules/comments/comments', locals: { commentable: @single_event }

  .span2
    = render partial: "modules/single_events/sidebar"
