- color = @single_event.category.try(:color)

.row.event.single-event
  .span4
    .black-bar.black-bar-wide
      = render partial: 'modules/categories/indicator', locals: { size: '75px', color: color }
      .black-bar-content.black-bar-with-date{ data: { hlcolor: color } }
        .black-bar-top-part
          .black-bar-date
            = I18n.localize @single_event.occurrence, format: "%a, %d. %b %Y"
        .black-bar-center-part
          %h1.black-bar-title= @single_event.event.name
          .black-bar-time= I18n.localize(@single_event.occurrence, format: "%H:%M Uhr")
          .clearfix

    .event-info
      - if @single_event.name?
        %h2= @single_event.name

      = render "events/description", event: @single_event
      = render "events/map", event: @single_event
      .event-map

      = render "events/venue", event: @single_event
      = render 'modules/events/social'
      .clearfix

      - if current_admin_user
        .admin_edit_link
          = link_to "Bearbeiten", edit_admin_event_single_event_path(@single_event.event, @single_event)

      = render 'single_events/participants'

    = render partial: 'modules/comments/comments', locals: { commentable: @single_event }

  .span2
    = render "single_events/sidebar"
