.left_side
  - title @single_event.event_title

  - if @single_event.topic?
    %h2
      = @single_event.topic

  %h2
    = @single_event.full_day ? @single_event.occurrence.strftime("%d.%m.%Y") :  @single_event.occurrence.strftime("%d.%m.%Y um %H:%M")

  = render "tags/tags", tag_list: @single_event.event.tag_list + @single_event.tag_list

  - unless @single_event.description?
    %p
      %em
        Keine Beschreibung vorhanden.
        - if !user_signed_in?
          Du könntest das ändern, wenn du dich #{link_to "anmeldest", new_user_session_path}.
        - else
          Du könntest das #{link_to "ändern", edit_event_single_event_path(@event, @single_event)}!
    - else
      = convert_markdown @single_event.description

  = render "events/links", item: @single_event

  %h3 Adresse

  = render "events/map", event: @single_event
  %div.map

  = render "events/address",address: @single_event

  %p
    - if can? :update, @event
      = link_to "Editieren", edit_event_single_event_path(@event, @single_event)
    - if can? :delete, @single_event
      = link_to "Löschen", event_single_event_path(@event, @single_event), method: :delete, confirm: "Wirklich löschen?"

  - unless mobile?
    #twitter_like
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hackcologne">Tweet</a>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

    #fb_like
      #fb-root
        <script src="http://connect.facebook.net/en_US/all.js#appId=213379535367603&amp;xfbml=1"></script>
        <fb:like href="#{event_url(@event)}" send="true" width="450" show_faces="false" font="" layout="button_count"></fb:like>

.right_side
  %h3
    Über #{link_to @event.name, @event}

  - if @single_event.event_description.blank?
    %p
      %em
        Keine Beschreibung vorhanden
  - else
    = truncate_html(convert_markdown(@single_event.event_description), 30, ellipsis: " ...")
  #{link_to("Mehr Details &raquo;".html_safe, @event)}

  %p= link_to "iCal für diesen Termin abonnieren", url_for(action: "index", controller: "subscribe", format: "ical", only_path: false, single_event_id: @single_event.id)

.clear

%h3
  = t ".participants"
  - if @single_event.users.length > 0
    = "(#{@single_event.users.length})"

- if @single_event.users.empty?
  %p
    %em
      Keine Teilnehmer
- @single_event.users.each do |user|
  = link_to gravatar_image_tag(user.email, gravatar: { default: :identicon, size: 32 }, alt: user.nickname, class: "gravatar_tooltip", title: user.nickname),
    user_path(user)
- if user_signed_in? && !@single_event.users.include?(current_user)
  %p
    = button_to "Ich nehme teil", event_single_event_participate_path(@single_event.event, @single_event), { method: :post }
- elsif user_signed_in?
  %p
    = button_to "Ich nehme doch nicht teil", event_single_event_participate_path(@single_event.event, @single_event), { method: :delete }

= render partial: "comments/comments", locals: {commentable: @single_event}
