- content_for :title do
  - @single_event.event.name

- color = @single_event.category.try(:color)

.single-event{ itemscope: true, itemtype: 'http://schema.org/Event' }
  .event-indicator
    %meta{ itemprop: 'startDate', content: I18n.localize(@single_event.occurrence, format: "%FT%R%:z") }
    %h2= I18n.localize @single_event.occurrence, format: "%a, %d. %b %Y"
  .event-title
    %h1.black-bar-title{ itemprop: "name" }
      = @single_event.event.name
    - if !@single_event.full_day
      %h4= I18n.localize(@single_event.occurrence, format: "%H:%M&nbsp;Uhr").html_safe
    = render partial: 'modules/categories/indicator', locals: { submodule: 'big', color: color }

  .tags-list.clearfix
    - tags = (@single_event.tags | @single_event.event.tags).sort_by(&:name)
    - tags.each do |tag|
      = render partial: "modules/tags/tag", locals: { tag: tag }

  .event-content
    - if @single_event.name?
      %h4= @single_event.name

    - if @single_event.picture.present?
      = image_tag(@single_event.picture.box_image.url, class: 'event-image')

    = render "events/description", event: @single_event

    = render "events/map",   event: @single_event

    - if user_signed_in? && current_user.admin?
      .admin_edit_link
        = link_to "Bearbeiten", edit_admin_event_single_event_path(@single_event.event, @single_event)

  = render 'modules/social/share'
  = render 'single_events/participants'
  .event-comments
    = render partial: 'modules/comments/comments', locals: { commentable: @single_event }

