- title @single_event.topic.blank? ? @event.name : "#{@single_event.topic} (#{@event.name})"

%h2
  = @event.full_day? ? @single_event.occurrence.strftime("%d.%m.%Y") :  @single_event.occurrence.strftime("%d.%m.%Y um %H:%M")

= render "tags/tags", :event => @single_event.event

= render "events/map", :event => @event

- if @single_event.description.blank?
  %p
    %em
      Keine Beschreibung vorhanden
  - else
    = simple_format @single_event.description

%h3
  Über #{@single_event.event.name}

- if @single_event.event.description.blank?
  %p
    %em
      Keine Beschreibung vorhanden
  - else
    = truncate_html(simple_format(@single_event.event.description), 30, :ellipsis => " ... (#{link_to("mehr", @event)})")

.address
  = @event.location
  %br
  = @event.street
  %br
  = @event.zipcode
  = @event.city

- unless @event.url.blank? && @event.twiter.blank?
  %p
    - unless @event.url.blank?
      = link_to "Webseite", @event.url
    - unless @event.twitter.blank?
      = link_to "Twitter", "http://twitter.com/#{@event.twitter}"

%p
  Zur Übersicht von
  = link_to @event.name, @event

- if can? :update, @event
  = link_to "Editieren", :action => "edit", :event_id => @event.id, :id => @single_event.id
