-# ToDo: Termin-Wiederholungen bearbeiten können
= semantic_form_for [:admin, @event] do |form|
  = form.inputs do
    = form.input :name
    = form.input :description, input_html: { class: 'autogrow preview-base', rows: 10 }, wrapper_html: { class: 'previewable' }
    = form.input :venue
    = form.input :venue_info
    = form.input :category, collection: Category.where(calendar_category: true).order("title")
    = form.input :picture
    = form.input :url
    = form.input :twitter
    = form.input :twitter_hashtag
    = form.input :start_time, as: :time_select, hint: "Bei wiederholenden Terminen gib hier die Uhrzeit an. Die Regel (z.B. 1x im Monat) kannst du nachher im Event selber anlegen."
    = form.input :duration
    = form.input :full_day
    = form.input :tag_list
    = form.input :schedule_rules_json, as: :hidden, input_html: {value: @event.schedule_rules.to_json}
    = form.input :excluded_times_json, as: :hidden, input_html: {value: @event.excluded_times.to_json}

    %li.string.input.optional.stringish
      %label.label Terminregeln
      .rule_editor
        %h4 Regeln
        %ul.rules
        .rule_entry
          An jedem 
          %select{id:"week_number", name:"week_number"}
            %option{value: "1"} ersten
            %option{value: "2"} zweiten
            %option{value: "3"} dritten
            %option{value: "4"} vierten
            %option{value: "5"} fünften
            %option{value: "-1"} letzten
          %select{id:"day_of_week", name:"day_of_week"}
            %option{value: "monday"} Montag
            %option{value: "tuesday"} Dienstag
            %option{value: "wednesday"} Mittwoch
            %option{value: "thursday"} Donnerstag
            %option{value: "friday"} Freitag
            %option{value: "saturday"} Samstag
            %option{value: "sunday"} Sonntag
          des Monats
          %button{id:"add_rule"} hinzufügen
        %h4 Ausgeschlossene Termine
        %ul.excludes

    %li
      %label.label Termine
      .termine
        %p
          - if @event.single_events.count > 0
            %a{href:admin_event_single_events_path(@event)}
              = "#{@event.single_events.count}"
              - if @event.single_events.count == 1
                Termine anzeigen
              - else
                Termin anzeigen
          |
          - if @event.persisted?
            %a{href:new_admin_event_single_event_path(@event)}
              Neuen Termin anlegen
  = form.actions
