.panel
  %h3 Veranstaltungsreihe

  .attributes_table
    %table{cellspacing:0, cellpadding: 0}
      %tbody
        %tr
          %th Name
          %td= @event.name
        %tr
          %th Beschreibung
          %td= convert_markdown @event.description
        %tr
          %th Bild
          %td
            - if @event.picture.present?
              = image_tag @event.picture.box_image.url
        %tr
          %th Kategory
          %td= @event.category.try(:title)
        %tr
          %th URL
          %td= link_to @event.url, @event.url
        %tr
          %th Twitter
          %td= link_to "@#{@event.twitter}", "http://twitter.com/#{@event.twitter}"
        %tr
          %th Twitter Hashtag
          %td
            - if @event.twitter_hashtag.present?
              = link_to "##{@event.twitter_hashtag}", "http://twitter.com/search/?q=##{@event.twitter_hashtag}"
        %tr
          %th Region
          %td
            - if @event.region.present?
              = @event.region.name
        %tr
          %th Ort
          %td
            - if @event.venue.present?
              = "#{@event.venue.location} (#{@event.venue.id})"
        %tr
          %th Ort Zusatzinfo
          %td= @event.venue_info
        %tr
          %th Tags
          %td= @event.tags.join(", ")
  %h3 Regeln

  .attributes_table
    %table{cellspacing:0, cellpadding: 0}
      %tbody
        - if @event.schedule.rrules.count > 0
          - @event.schedule.rrules.each do |rule|
            %tr
              %td
                = string_for_rule rule
        - else
          %tr
            %td
              Keine Regeln definiert

  %h3 Ausgeschlossene Termine

  .attributes_table
    %ul
      - @event.excluded_times.each do |time|
        %li=l time

  %h3 Radar Einstellungen (der Auto-Importer)

  .radar_settings_link
    %ul
      - @event.radar_settings.each do |setting|
        %li
          %a{href:edit_admin_event_radar_setting_path(@event, setting)}
            = "#{setting.radar_type} - #{setting.url}"
          (
          = link_to "Löschen", admin_event_radar_setting_path(@event, setting), method: :delete, confirm: "Wirklich löschen?"
          )

  .radar_settings_new
    %a{href:new_admin_event_radar_setting_path(@event)}
      Neue Radar Einstellung hinzufügen

  %h3 Termine

  .single_event_link
    - if @event.single_events.count > 0
      %a{href:admin_event_single_events_path(@event)}
        = pluralize(@event.single_events.count, "Termin", "Termine")

  .single_event_new
    %a{href:new_admin_event_single_event_path(@event)}
      Neuen Termin anlegen
