.comment
  %a{name: "comment_#{comment.id}", class: "comment_anchor"}
  %a{href: user_path(comment.user)}= gravatar_image_tag(comment.user_email, gravatar: { default: :identicon, size: 32 }, class: 'gravatar_image')
  .content
    %p.name
      %strong= link_to comment.user_nickname, user_path(comment.user)
      sagte:
    %p.date
      = "#{I18n.localize(comment.created_at, format: :long)}"
    = convert_markdown comment.body, true
    - if comment.created_at != comment.updated_at
      %p.edit_date
        = "(zuletzt geändert am #{I18n.localize(comment.created_at, format: :long)})"
    %p
      - if can? :edit, comment
        = link_to "Editieren", edit_comment_path(comment)
      - if can? :destroy, comment
        = link_to "Löschen", comment_path(comment), confirm: "Ihren Kommentar wirklich löschen?", method: :delete
