= form_for comment, url: comment.new_record? ? comments_path(comment) : comment_path(comment) do |form|
  / TODO: (comment.user.nil? ? current_user.email : comment.user_email) smells like ***
  = gravatar_image_tag((comment.user.nil? ? current_user.email : comment.user_email),gravatar: { default: :identicon, size: 32 }, class: 'gravatar_user_input')
  .content
    .previewable
      = form.text_area :body, class: 'preview-base'
    = render "commons/markdown_info"
    = form.submit t('comments._form.comment_button')
