= form_for comment, url: comment.new_record? ? comments_path(comment) : comment_path(comment) do |form|
  -# TODO: (comment.user.nil? ? current_user.email : comment.user_email) smells like ***
  = avatar_for_user((comment.user.nil? ? current_user : comment.user), 32, 'gravatar_user_input')
  .content
    .previewable
      = form.text_area :body, class: 'preview-base'
    = render "commons/markdown_info"
    = form.submit t('comments._form.comment_button')
