%h1 Suche in Events und im Blog

= form_tag search_index_path, :method => 'get' do
  %div.field
    = text_field_tag :search, params[:search]
  %div.action
    = submit_tag "Search", :name => nil


%ul.result
  - unless @single_events.blank?
    %div Termine:
    - @single_events.each do |single_event|
      %li
        = link_to single_event.name + " - " + single_event.event.name, event_single_event_path(single_event.event, single_event)
        <br/>
        = render "tags/tags", tag_list: single_event.tag_list

  - unless @events.blank?
    %div Events:
    - @events.each do |event|
      %li
        = link_to event.name, event_path(event)

  - unless @blog_posts.blank?
    %div Blogs:
    - @blog_posts.each do |blog_post|
      %li
        = link_to blog_post.headline, blog_post_path(blog_post)



= link_to t('common.back'), :back
