-# ToDo: Zeit bearbeiten
= semantic_form_for [:admin, @event, @single_event] do |form|
  = form.inputs do
    %li
      = form.label "Basis-Event", class: "label"
      = link_to @single_event.event.name, admin_event_path(@single_event.event)
    = form.input :name, placeholder: @single_event.event.name
    = form.input :description, input_html: { class: 'autogrow preview-base', rows: 10 }, wrapper_html: { class: 'previewable' }
    - if @single_event.based_on_rule
      %li
        = form.label "Startzeit", class: "label"
        = l @single_event.occurrence
        = " - basiert auf einer Regel der Veranstaltungsreihe"
    - else
      = form.input :occurrence
    = form.input :duration, placeholder: @single_event.event.duration
    = form.input :full_day
    = form.input :region
    - if @single_event.event.region.present?
      %li
        %label.label &nbsp;
        Region der Veranstaltungsreihe:
        = @single_event.event.region.name
    = form.input :venue, input_html: {class: 'chosen-select'}
    - if @single_event.event.venue.present?
      %li
        %label.label &nbsp;
        Ort der Veranstaltungsreihe:
        = @single_event.event.venue.location
    = form.input :venue_info, placeholder: @single_event.event.venue_info
    = form.input :use_venue_info_of_event
    = form.input :category, collection: Category.order("title")
    = form.input :picture
    %li
      %label.label &nbsp;
      Bild der Veranstaltungsreihe:
      - if @single_event.event.picture.nil?
        Kein Bild verknüpft
      - else
        = @single_event.event.picture.try :title
    = form.input :url, placeholder: @single_event.event.url
    = form.input :twitter, placeholder: @single_event.event.twitter
    = form.input :twitter_hashtag, placeholder: @single_event.event.twitter_hashtag
    = form.input :tag_list, placeholder: @single_event.event.tag_list
  = form.actions
