#login-form.reveal-modal{ data: { reveal: true } }
  = form_for resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal' do |f|
    = f.text_field :email, placeholder: 'E-Mail / Nickname'
    = f.password_field :password, placeholder: 'Passwort'

    .lower-row-wrapper
      = f.submit "Einloggen", class: 'button'
      - if devise_mapping.rememberable?
        .remember-me-wrapper
          = f.check_box :remember_me, :as => :boolean, class: 'remember-me-checkbox'
          = f.label :remember_me, "Eingeloggt bleiben", class: 'remember-me-label'

    .external-providers
      - User.omniauth_providers.each do |provider|
        = link_to image_tag("oauth/#{provider.to_s}.png"), user_omniauth_authorize_url(provider), title: provider

    = link_to "oder registrieren", new_registration_path(resource_name), class: 'button'
