.loginform.loginform-popup
  = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } do |f|
    = f.input :email, placeholder: 'E-Mail / Nickname'
    = f.input :password, placeholder: 'Passwort'
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean

    = f.submit "Anmelden", class: 'btn btn-inverse'
