<h2>Anmelden</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p><%= f.label :email %> oder <%= f.label :nickname %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Anmelden" %></p>
<% end %>

<h2>Andere Login Methoden</h2>
<ul>
	<li><%= link_to "Sign in with Twitter", user_omniauth_authorize_url(:twitter) %></li>
	<li><%= link_to "Sign in with Google", user_omniauth_authorize_url(:google_oauth2) %></li>
	<li><%= link_to "Sign in with GitHub", user_omniauth_authorize_url(:github) %></li>
	<li><%= link_to "Sign in with Linkedin", user_omniauth_authorize_url(:linkedin) %></li>
	<li>Sign in with Facebook</li>
</ul>

<%= render partial: "users/shared/links" %>
