- content_for :title do
  Einloggen

%h2 Einloggen

%h3 Mit Benutzerdaten

= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } do |f|
  = f.input :email, label: 'E-Mail oder Nickname'
  = f.input :password

  %ul.controls
    %li= f.submit "Einloggen", class: 'button'
    = render partial: 'users/shared/links'

%h2 ... oder mit einem dieser Services
%ul
  - User.omniauth_providers.each do |provider|
    %li
      %a{href: user_omniauth_authorize_url(provider)}
        %i{class:"fa fa-#{provider}"}
        = provider


