- content_for :title do
  = t('sessions.new.title')

%h2= t('sessions.new.title')

%h3= t('sessions.new.with_user_data')

= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } do |f|
  = f.input :email, label: t('sessions.new.email_or_username')
  = f.input :password

  %ul.controls
    %li= f.submit t('sessions.new.submit'), class: 'button'
    = render partial: 'users/shared/links'

%h3= t('sessions.new.with_other_service')
%ul
  - User.omniauth_providers.each do |provider|
    %li
      %a{href: user_omniauth_authorize_url(provider)}
        %i{class:"fa fa-#{provider}"}
        = provider


