- content_for :title do
  = t('sessions.new.title')

%h2= t('sessions.new.title')

%h3= t('sessions.new.with_user_data')

= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } do |f|
  = f.input :email, label: t('sessions.new.email_or_username')
  = f.input :password

  %ul.controls
    %li= f.submit t('sessions.new.submit'), class: 'button'
    = render partial: 'users/shared/links'

%h3= t('sessions.new.with_other_service')
%ul
  %li
    %a{href: user_twitter_omniauth_authorize_url}
      %i.fa.fa-twitter
      = provider

  %li
    %a{href: user_github_omniauth_authorize_url}
      %i.fa.fa-github
      = provider
