.single-event-sidebar
  .single-event-event-teaser
    .event.event-preview{ style: "border-top: 3px solid #{@single_event.event.category.color}"}
      - if @single_event.event.picture.present?
        = link_to @single_event.event do
          = image_tag(@single_event.event.picture.box_image.url, class: 'event-image')

      .event-text
        = @single_event.event.description
        %p= link_to "(weiterlesen)", @single_event.event

  - if @advertisment.present?
    .blog_advertisement
      Werbung
      = image_tag(@advertisement.picture.advertisement_image.rectangle.url)
  .blog_nerdletter
    %h2 Nerdletter
    %form
      %input{type: "text", placeholder: "E-Mail-Adresse"}
      %input{type: "image", src: asset_path("blog-nerdletter.png")}
