<h2>E-Mail-Bestätigung erneut versenden</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "erneut versenden" %></p>
<% end %>

<%= render :partial => "users/shared/links" %>
