= semantic_form_for [:admin, @advertisement] do |f|
  = f.inputs "Content" do
    = f.input :description
    = f.input :link
    = f.input :picture
  = f.inputs "Time & Duration" do
    = f.input :calendar_week
    = f.input :duration, :as => :select, :collection => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  = f.inputs "Context" do
    = f.input :context, :as => :select, :collection => [['Homepage', 'homepage'],['Blogpost', 'blog_post'],['RSS','rss'], ['Termin','single_event'], ['Podcast', 'podcast'], ['Newsletter','newletter']]
  = f.button
