%h1
  - if defined?(only_extract) && only_extract
    = link_to blog_post.headline, blog_post_path(blog_post.to_link)
  - else
    = blog_post.headline
.date
  = blog_post.publishable_from.strftime("%Y-%m-%d %H:%M")
.teaser
  %p
    = raw blog_post.teaser_text
- if !defined?(only_extract) || !only_extract
  .blog_text
    = raw blog_post.text
- else
  =link_to "Weiterlesen", blog_post_path(blog_post.to_link)
