- content_for :title do
  = @post.headline

.row
  .span4
    = render partial: "modules/blog_post/full", locals: {blog_post: @post}
    - if current_admin_user
      .admin_edit_link
        = link_to "Bearbeiten", edit_admin_blog_post_path(@post)

    = render 'modules/social/share'
    = render partial: "modules/comments/comments", locals: {commentable: @post}
  .span2
    = render partial: "modules/blog_post/sidebar", locals: {categories: @categories, current_category: @current_category, single_events: @single_events}
