= semantic_form_for [:admin, @picture] do |f|
  = f.inputs do
    = f.input :title
    = f.input :description
    - unless @picture.box_image.try(:url).nil?
      %li.input
        %label.label Vorschau Box
        = image_tag @picture.box_image.url
    = f.input :box_image
  = f.actions
