= semantic_form_for [:admin, @picture] do |f|
  = f.inputs do
    = f.input :title
    = f.input :description
    - unless @picture.box_image.try(:url).nil?
      %li.input
        %label.label Vorschau Box
        = image_tag @picture.box_image.url
    = f.input :box_image
    - unless @picture.carousel_image.try(:url).nil?
      %li.input
        %label.label Vorschau Carousel
        = image_tag @picture.carousel_image.url
    = f.input :carousel_image
    - unless @picture.advertisement_image.try(:url).nil?
      %li.input
        %label.label Vorschau Advertisement
        = image_tag @picture.advertisement_image.square.url
    = f.input :advertisement_image
  = f.actions
