- content_for :title do
  = @user.nickname

.users.row
  .avatar.columns.medium-4
    = avatar_for_user(@user, 256, "user_gravatar")
  .description.columns.medium-8
    %h3.nickname
      = @user.nickname

    - if @user.name.present?
      %h4.name
        = @user.name

    .description
      - if @user.description?
        = convert_markdown @user.description
      - else
        = t 'users.show.no_description'

      %ul.links
        - if @user.homepage?
          %li.homepage
            %i.fa.fa-home
            %a{ href: @user.homepage}= @user.homepage

        - if @user.twitter?
          %li.twitter
            %i.fa.fa-twitter
            %a{ href: "https://twitter.com/#{@user.twitter}" }= "@#{@user.twitter}"

        - if @user.github?
          %li.github
            %i.fa.fa-github
            %a{ href: "https://github.com/#{@user.github}" }= @user.github

      - if current_user == @user
        .edit_profile
          = link_to t('users.show.edit'), edit_user_registration_path

      .loves
        Ich liebe
        %i.icon-heart
        .tags-list.clearfix
          - if @user.likes.length > 0
            - @user.likes.sort.each do |like|
              = render partial: "modules/tags/tag", locals: { tag: like }
          - else
            Nichts

      .hates
        Ich boykottiere
        %i.icon-thumbs-down
        .tags-list.clearfix
          - if @user.hates.length > 0
            - @user.hates.sort.each do |hate|
              = render partial: "modules/tags/tag", locals: { tag: hate }
          - else
            Nichts

      .recent_events
        - unless @next_events.empty?
          %h3
            Ist bei diesen Events:
          .calendar-calendar
            = render partial: "modules/calendars/days", locals: {days: @next_events, suggestions: false}
