#user_profile
  = gravatar_image_tag(@user.email, class: "user_gravatar", gravatar: { default: :identicon, size: 128 })

  %h2= @user.nickname

  - if @user.description?
    = convert_markdown @user.description
  - else
    = t 'users.show.no_description'
  %ul
    - if @user.twitter?
      %li
        = "#{t 'activerecord.attributes.user.twitter'}:"
        = link_to "@" + @user.twitter, "https://twitter.com/#!/#{@user.twitter}"

    - if @user.github?
      %li
        = "#{t 'activerecord.attributes.user.github'}:"
        = link_to @user.github, "https://github.com/#{@user.github}"

    - if @user.homepage?
      %li
        = "#{t 'activerecord.attributes.user.homepage'}:"
        = link_to @user.homepage, @user.homepage

  - if current_user == @user
    = link_to t('users.show.edit'), edit_user_registration_path

  .ignore_tags
    %h3= t 'users.show.loved_tags'
    - unless @user.like_list.empty?
      = render "tags/tags", tag_list: @user.like_list
    - else
      %p= t 'users.show.no_loved_tags'

  - if @user.allow_ignore_view?
    .ignore_tags
      %h3= t 'users.show.ignore_tags'
      - unless @user.hate_list.empty?
        = render "tags/tags", tag_list: @user.hate_list
      - else
        %p= t 'users.show.no_ignore_tags'

  .recent_events
    %h3= t 'users.show.next_events'
    - unless @next_events.empty?
      %ul
        - @next_events.each do |single_event|
          %li
            = link_to single_event.title, event_single_event_path(single_event.event, single_event)
            = day_output_helper single_event.occurrence
    - else
      %p= t 'users.show.no_next_events'

  .recent_comments
    %h3= t 'users.show.recent_comments'

    - @recent_comments.each do |comment|
      %h4.user_profile Kommentar für #{link_to comment.commentable_name, commentable_path(comment)}
      = render partial: "comments/comment", locals: {comment: comment}
    - if @recent_comments.empty?
      %p= t 'users.show.no_recent_comments'
