- content_for :title do
  = @user.nickname

.row
  .span2.left_side
    .black_sidebar
      .big_gravatar
        = gravatar_image_tag(@user.email, class: "user_gravatar", gravatar: { default: :identicon, size: 256 })
      .inner_text
        %h3
          = @user.nickname

        - if @user.description?
          = convert_markdown @user.description
        - else
          = t 'users.show.no_description'

    .link-list
      - if @user.twitter?
        %a{ href: "https://twitter.com/#{@user.twitter}" }
          = image_tag "twitter_large.png"

      - if @user.github?
        %a{ href: "https://github.com/#{@user.github}" }
          = image_tag "github_large.png"

      - if @user.homepage?
        %a{ href: @user.homepage}
          = image_tag "home_large.png"

    - if current_user == @user
      .edit_profile
        = link_to t('users.show.edit'), edit_user_registration_path

  .span4.no_gap
    .row.love_hate_row
      .span2
        %h3
          Ich liebe 
          %i.icon-heart
        - if @user.likes.length > 0
          - @user.likes.each do |like|
            = render partial: "modules/tags/tag", locals: { tag: like }
        - else
          Nichts

      .span2
        %h3
          Ich boykottiere
          %i.icon-thumbs-down
        - if @user.hates.length > 0
          - @user.hates.each do |hate|
            = render partial: "modules/tags/tag", locals: { tag: hate }
        - else
          Nichts
    .recent_events
      - unless @next_events.empty?
        .calendar-calendar
          = render partial: 'modules/calendars/single_event_list', locals: {single_events: @next_events}
