- content_for :title do
  = @user.nickname

.row
  .span4
    %h2
      = @user.nickname

    - if @user.description?
      = convert_markdown @user.description
    - else
      = t 'users.show.no_description'

    %ul.link_list
      - if @user.twitter?
        %li
          .content-field-icon
            %i.icon-twitter
          .content-field-text
            %a{ href: "https://twitter.com/#{@user.twitter}" }= "@#{@user.twitter}"

      - if @user.github?
        %li
          .content-field-icon
            %i.icon-github
          .content-field-text
            = link_to @user.github, "https://github.com/#{@user.github}"

      - if @user.homepage?
        %li
          .content-field-icon
            %i.icon-home
          .content-field-text
            = link_to @user.homepage, @user.homepage

    .recent_events
      %h3= t 'users.show.next_events'
      - unless @next_events.empty?
        - @next_events.each do |single_event|
          = render partial: "modules/calendars/event_link", locals: {single_event: single_event}
      - else
        %p= t 'users.show.no_next_events'

    .recent_comments
      %h3= t 'users.show.recent_comments'

      - @recent_comments.each do |comment|
        %h4.user_profile.comment_headline Kommentar für #{link_to comment.commentable.title, commentable_path(comment)}
        = render partial: "modules/comments/comment", locals: { comment: comment }
      - if @recent_comments.empty?
        %p= t 'users.show.no_recent_comments'

  .span2
    .pull-right
      %ul.thumbnails
      .thumbnail
        = gravatar_image_tag(@user.email, class: "user_gravatar", gravatar: { default: :identicon, size: 256 })
      %br
      - if current_user == @user
        = link_to t('users.show.edit'), edit_user_registration_path, class: "btn"
