.styleguide-example

  %h3= @section.section

  .styleguide-description.markdown-body
    %p= convert_markdown h(@section.description)
    - if @section.modifiers.any?
      %ul.styleguide-modifier
        - modifiers.each do |modifier|
          %li
            %strong= modifier.name
            \- #{modifier.description}

  %h4 Without modifiers

  .styleguide-element
    = @example_html.gsub('$modifier_class', '').html_safe
  %code.styleguide-source
    = @example_html.gsub('$modifier_class', '').gsub("pseudo-class-", ":")

  - modifiers.each do |modifier|
    .styleguide-element.styleguide-modifier
      %h4.styleguide-modifier-name= modifier.name
      = @example_html.gsub('$modifier_class', " #{modifier.class_name}").html_safe
    %code.styleguide-source
      = @example_html.gsub('$modifier_class', " #{modifier.class_name}").gsub("pseudo-class-", ":")

</div>
