= link_to target_url(grid_box), {class: "span2"} do
  %article.article.article-preview{ style: "border-top: 3px solid #{grid_box.is_ad? ? 'transparent' : grid_box.category.color };" }
    = image_tag(image_for(grid_box), class: 'article-image')
    - if grid_box.first_line?
      %h2.article-subtitle
        - if grid_box.first_line.respond_to? :time
          = I18n.l grid_box.first_line, format: :short
        - else
          = grid_box.first_line
    - if grid_box.second_line?
      %h1.article-title= grid_box.second_line
