#head-carousel.carousel.slide
  .carousel-inner
    .active.item
      = image_tag carousel_items == 0 ? 'test-header-1.png' : image_for_carousel(0)
      .carousel-caption
        %h4= headline_for_carousel 0
        %p= headline_teaser_for_carousel 0

    - 1.upto(carousel_items) do  |i|
      .item
        = image_tag image_for_carousel i
        .carousel-caption
          %h4= headline_for_carousel i
          %p= headline_teaser_for_carousel i
  %a.carousel-control.left{href:'#head-carousel', data: {slide: "prev"}}
    &lsaquo;
  %a.carousel-control.right{href:'#head-carousel', data: {slide: "next"}}
    &rsaquo;
