#main_content
  %h1.first_head Events für Hacker in Köln und Umgebung

  %p.welcome
    Hacker, Entwickler, Geek, Nerd? Langweilst du dich in deinem Keller? Dann bist du hier genau
    richtig. Hier gibt's eine Auflistung aller Events rund um Köln. <a href="/about">Mehr&nbsp;...</a>

  %h2 Events in den nächsten vier Wochen:

  = render 'single_events/lists', single_events: @single_events

  %p
    = link_to "Alle Events", events_path
    - if can? :create, Event
      |
      = link_to "Event hinzufügen", new_event_path

/ ---- /main_content ----------

- content_for :aside do
  %h2.first_head Kalender

  :markdown
    Abonniere den Kalender via #{link_to "iCal", "abonnieren"}.

  - if user_signed_in?
    Hier fehlt ein Event? Dann #{link_to "lege ihn an",new_event_path}.
  - else
    Hier fehlt ein Event? Dann #{link_to "melde dich an", new_user_session_path} und lege Ihn an.
  - {like: "lieben", hate: "ignorieren"}.each do |kind, text|
    #user_controls
      %div{id: "#{kind}_list"}
        %h4 Events mit diesen Tags #{text}:
        - unless !user_signed_in? || current_user.send(:"#{kind}_list").empty?
          %ul.tags{class: "#{kind}_list"}
            - current_user.send(:"#{kind}_list").each do |tag|
              %li
                = link_to tag, tag_path(tag)
                = link_to "x", user_tag_path(user_id: current_user.id, id: tag, kind: kind), confirm: "Bist du sicher?", method: :delete, class: "delete", title: "Löschen"
    - if !user_signed_in?
      %p
        %em Melde dich an, um Events mit bestimmten Tags zu #{text}.
    = form_for(:"user_tags", url: user_signed_in? ? user_tags_path(user_id: current_user.id, kind: kind) : nil) do |f|
      = f.text_field :"list", value: "", disabled: !user_signed_in?
      = f.submit "Hinzufügen", disabled: !user_signed_in?

  #social_stuff
    %p.github
      Forke uns auf Github:<br/>
      = link_to image_tag(asset_path("github.png")), "http://github.com/nerdhub/hcking"
    .social_plugins
      #twitter_like
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        <a href="http://twitter.com/hackcologne" class="twitter-follow-button" data-show-count="false" data-lang="de">Follow @hackcologne</a>
      #fb_like
        #fb-root
        <script src="http://connect.facebook.net/en_US/all.js#appId=213379535367603&amp;xfbml=1"></script>
        <fb:like href="http://hcking.de" send="true" width="300" show_faces="false" font="" layout="button_count"></fb:like>
