.row
  .span6
    = render partial: 'modules/carousel'

.row
  .span6
    = render partial: 'modules/calendars/minical'

.row.content-teasers
  - 1.upto(3) do |i|
    = render partial: type_of("box_#{i}"), locals: locals_for("box_#{i}")

.row.content-teasers
  - 4.upto(6) do |i|
    = render partial: type_of("box_#{i}"), locals: locals_for("box_#{i}")

.row
  .abo-box
    Abonniere unseren monatlichen Newsletter!
    %form
      %input{type: "text", placeholder: "E-Mail-Adresse"}
      %input{type: "submit", value: "Absenden"}
