%h1 Events für Hacker in Köln und Umgebung

- content_for :aside do
  :markdown
    **Kalender**

    Abonniere den Kalender via #{link_to "iCal", "abonnieren"}.

    Hier fehlt ein Event? Dann schick uns eine [E-Mail](mailto:mail@hcking.de).

  #twitter_like
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <a href="http://twitter.com/hackcologne" class="twitter-follow-button" data-show-count="false" data-lang="de">Follow @hackcologne</a>
  #fb_like
    #fb-root
    <script src="http://connect.facebook.net/en_US/all.js#appId=213379535367603&amp;xfbml=1"></script>
    <fb:like href="http://hcking.de" send="true" width="300" show_faces="false" font="" layout="button_count"></fb:like>


%p
  Hacker, Entwickler, Geek, Nerd? Langweilst du dich in deinem Keller? Dann bist du hier genau
  richtig. Hier gibt's eine Auflistung aller Events rund um Köln. <a href="/about">Mehr&nbsp;...</a>

%h2 Events in den nächsten vier Wochen:

- current_date = nil
- Event.get_ordered_events(Date.today, Date.today + 4.weeks).each do |entry|
  - if current_date != entry[:time].to_date 
    - current_date = entry[:time].to_date
    %h3
      = current_date.strftime("%d.%m.%Y")
  .entry
    = entry[:time].strftime("%H:%M") if !entry[:event].full_day
    = link_to entry[:event].name, event_path(entry[:event])
    / Display tags for this event, if any:
    - unless entry[:event].tag_list.empty?
      %ul.tags
        - entry[:event].tag_list.each do |tag|
          %li= tag

%p Den Kalender gibt es auch als #{link_to "iCal", "abonnieren"}.

%p
  = link_to "Alle Events", events_path
  - if can? :create, Event
    |
    = link_to "Event hinzufügen", new_event_path
  - else
