<h1>Events für Hacker</h1>

<p>
  Hacker, Entwickler, Geek, Nerd? Langweilst du dich in deinem Keller? Dann bist du hier genau
  richtig. Hier gibt's eine Auflistung aller Events rund um Köln. <a href="/about">Mehr...</a>
</p>

<h2>Events in den nächsten 4 Wochen:</h2>

<% current_date = nil %>
<% Event.get_ordered_events(Date.today, Date.today + 4.weeks).each do |entry| %>
<% 
    if current_date != entry[:time].to_date 
      current_date = entry[:time].to_date
%>
    <h3><%= current_date.strftime("%d.%m.%Y") %></h3>
  <% end %>
  <p><%= entry[:time].strftime("%H:%M") %> <%= link_to entry[:event].name, event_path(entry[:event]) %></p>
<% end %>

<p>
  Den Kalender gibt es auch als <a href="/ical.ics">iCal</a>. Den Link einfach als Abo zum
  eigenen Kalender hinzufügen.
</p>

<p>
<%= link_to "Alle Events", events_path %> 
<% if can? :create, Event %>
  | <%= link_to "Event hinzufügen", new_event_path %>
</p>
<% else %>
</p>
  <p>
    Hier fehlt ein Event? Dann schick mir eine <a href="mailto:mail@hcking.de">E-Mail</a>.
  </p>
<% end %>

<p>
  <a href="http://twitter.com/hackcologne" class="twitter-follow-button" data-show-count="false" data-lang="de">Follow @hackcologne</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=213379535367603&amp;xfbml=1"></script><fb:like href="http://hcking.de" send="true" width="450" show_faces="true" font=""></fb:like>
</p>
