.event-description
  .event-content-field
    .content-field-icon
      %i.icon-info-sign
    .content-field-text
      = convert_markdown event.description, true

- if event.url.present?
  .event-homepage
    .event-content-field
      .content-field-icon
        %i.icon-home
      .content-field-text
        %a.hidden-link{ href: event.url }= event.url

- if event.twitter.present?
  .event-twitter-handle
    .event-content-field
      .content-field-icon
        %i.icon-twitter
      .content-field-text
        %a.hidden-link{ href: "http://twitter.com/#{event.twitter}" }
          = "@#{event.twitter}"
