= semantic_form_for @event do |form|
  = form.inputs do
    = form.input :name
    = form.input :description, :input_html => { :class => 'autogrow', :rows => 10}
    = form.input :location
    = form.input :street
    = form.input :zipcode
    = form.input :city
    = form.input :url
    = form.input :twitter
    = form.input :full_day
    = form.input :tag_list
  = form.buttons
