= content_for :javascript do
  :javascript
    $(function() {
      $("#event_tag_list").tokenInput("#{tags_path}", {theme: "facebook", allowNewItems: true,
        hintText: "Gebe einen Tag ein", noResultsText:"Kein Tag gefunden", searchingText:"Suche...",
        tokenValue: "name", prePopulate: #{ tag_list_for_taggable(event) }});
      $("#event_name").focus();

      registerPreviewHook('#event_description');
    });

= semantic_form_for event do |form|
  = form.inputs do
    = form.input :name
    .markdown-preview
    = form.input :description, input_html: { class: 'autogrow', rows: 10}
    %li
      %label
      = render "commons/markdown_info"
    = form.input :location
    = form.input :street
    = form.input :zipcode
    = form.input :city
    = form.input :url
    = form.input :twitter
    = form.input :twitter_hashtag
    = form.input :start_time, as: :time_select, hint: "Bei wiederholenden Terminen gib hier die Uhrzeit an. Die Regel (z.B. 1x im Monat) kannst du nachher im Event selber anlegen."
    = form.input :duration
    = form.input :full_day
    = form.input :tag_list
  = form.actions
