- if event.venue.present?
  %address.event-venue
    = event.venue.location
    %br
    - if event.venue_info?
      = event.venue_info
      %br
    = event.venue.street
    %br
    = event.venue.zipcode
    = event.venue.city
