- unless event.venue.nil?
  %address.event-venue{ itemscope: true, itemprop: 'location', itemtype: 'http://schema.org/Place' }
    .location
      = link_to event.venue.location, venue_path(event.venue)
    - if event.venue_info.present?
      .info
        = event.venue_info
    %div{ itemscope: true, itemprop: 'address', itemtype: 'http://schema.org/PostalAddress' }
      %div{ itemprop: 'streetAddress' }
        = event.venue.street
      %div
        %span{ itemprop: 'postalCode' }
          = event.venue.zipcode
        %span{ itemprop: 'addressLocality' }
          = event.venue.city
    - if event.venue.url.present?
      = link_to event.venue.url, event.venue.url, itemprop: 'url'
