- unless event.venue.nil?
  %address.event-venue
    - if event.venue.url.blank?
      = event.venue.location
    - else
      = link_to event.venue.location, event.venue.url
    %br
    - if event.venue_info.present?
      = event.venue_info
      %br
    = event.venue.street
    %br
    = event.venue.zipcode
    = event.venue.city
