- unless event.venue.nil?
  %address.event-venue
    = event.venue.location
    %br
    - if event.venue_info.present?
      = event.venue_info
      %br
    = event.venue.street
    %br
    = event.venue.zipcode
    = event.venue.city
