- title @event.name

= render "map", :event => @event

<<<<<<< HEAD
=======
        var myMarkerLatLng = new CM.LatLng(#{@event.latitude}, #{@event.longitude});
        var myMarker = new CM.Marker(myMarkerLatLng);

        map.setCenter(myMarkerLatLng, 14);
        map.addOverlay(myMarker);
        map.addControl(new CM.SmallMapControl());

      }

      $(function() {
        $('h1').after('<div id="map_canvas" style="width:350px; height:250px"></div>');
        initialize();
      });

>>>>>>> master
= render "tags/tags", :event => @event

= simple_format @event.description

.address
  = @event.location
  %br
  = @event.street
  %br
  = @event.zipcode
  = @event.city

- unless @event.url.blank?
  %p= link_to @event.url, @event.url

- unless @event.twitter.blank?
  %p= link_to "@#{@event.twitter}", "http://twitter.com/#{@event.twitter}"

- if can? :update, @event
  = link_to "Bearbeiten", edit_event_path(@event)

- if can? :delete, @event
  = link_to "Löschen", event_path(@event), :method => :delete, :confirm => "Wirklich löschen?"

%h2 Die nächsten Events:

- if @event.single_events.length > 0
  %ul
    - @event.single_events[0..3].each do |single_event|
      %li= link_to @event.full_day? ? single_event.when.strftime("%d.%m.%Y") : single_event.when.strftime("%d.%m.%Y um %H:%M"), :controller => "single_events", :action => "show", :event_id => @event.id, :id => single_event.id
- else
  %p Keine Events geplant

#twitter_like
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hackcologne">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

#fb_like
  #fb-root
    <script src="http://connect.facebook.net/en_US/all.js#appId=213379535367603&amp;xfbml=1"></script>
    <fb:like href="#{event_url(@event)}" send="true" width="450" show_faces="false" font="" layout="button_count"></fb:like>

- if can? :update, @event
  = render "edit"

%p
  %a{:href => "/"} Zurück zur Übersicht
