<h1 id='event_name'><%= @event.name %></h1>

<% unless @event.latitude.blank? or @event.longitude.blank? %>
   <% content_for :javascript do %>
      <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?sensor=false">
      </script>
      <script type="text/javascript">
        function initialize() {
          var latlng = new google.maps.LatLng(<%= @event.latitude %>, <%= @event.longitude %>);
          var myOptions = {
            zoom: 13,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
              myOptions);

          var marker = new google.maps.Marker({
            position: latlng, 
            map: map, 
            title: "<%= escape_javascript(@event.location.html_safe) %>"
          });
        }

        $(function() {
          $('#event_name').after('<div id="map_canvas" style="width:350px; height:200px"></div>');
          initialize();
      });
    </script>
  <% end %>
<% end %>

<%= simple_format @event.description %>

<p class="address"><%= @event.location %><br/><%= @event.street%><br/><%= @event.zipcode %> <%= @event.city %></p>

<% unless @event.url.blank? %>
<p><%= link_to @event.url, @event.url %></p>
<% end %>

<% unless @event.twitter.blank? %>
<p><%= link_to "@#{@event.twitter}", "http://twitter.com/#{@event.twitter}" %></p>
<% end %>

<% if can? :update, @event %>
  <%= link_to "Bearbeiten", edit_event_path(@event) %>
<% end %>

<% if can? :delete, @event %>
  <%= link_to "Löschen", event_path(@event), :method => :delete, :confirm => "Wirklich löschen?" %>
<% end %>

<h2>Die nächsten Events:</h2>

<% cache("event_occurences_#{@event.id}") do %>
  <% occurrences = @event.schedule.next_occurrences(4, Date.today) %>
  <% if occurrences.size > 0 %>
    <ul>
    <% occurrences.each do |date| %>
      <li><%= date.strftime("%d.%m.%Y um %H:%M") %></li>
    <% end %>
    </ul>
  <% else %>
    <p>Keine Events geplant</p>
  <% end %>
<% end %>

<div id='twitter_like'>
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hckingcologne">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div id='fb_like'>
  <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=213379535367603&amp;xfbml=1"></script><fb:like href="<%= event_url(@event)%>" send="true" width="450" show_faces="false" font="" layout="button_count"></fb:like>
</div>

<% if can? :update, @event %>
  <%= render "edit" %>
<% end %>
<p>
  <a href="/">Zurück zur Übersicht</a>
</p>
