- color = @event.category.try(:color)
- title @event.title

.row.event.event-detail
  .span4
    .black-bar.black-bar-wide
      = render partial: 'modules/categories/indicator', locals: { size: '75px', color: color }
      .black-bar-content{ data: { hlcolor: color } }
        .black-bar-center-part
          %h1.black-bar-title= @event.name

    .event-info
      = render "events/description", event: @event
      = render "events/map", event: @event
      .event-map

      = render "events/venue", event: @event
      = render 'modules/single_events/social'
      .clearfix

    = render partial: 'modules/comments/comments', locals: { commentable: @event }

  .span2
    = render 'events/sidebar'
