<h1><%= @event.name %></h1>

<%= simple_format @event.description %>

<p class="address"><%= @event.address %></p>

<% unless @event.url.blank? %>
<p><%= link_to @event.url, @event.url %></p>
<% end %>

<% unless @event.twitter.blank? %>
<p><%= link_to "@#{@event.twitter}", "http://twitter.com/#{@event.twitter}" %></p>
<% end %>

<h2>Die nächsten Events:</h2>

<%
   occurrences = @event.schedule.next_occurrences(4, Date.today)
%>
<% if occurrences.size > 0 %>
  <ul>
  <% occurrences.each do |date| %>
    <li><%= date.strftime("%d.%m.%Y  %H:%M") %></li>
  <% end %>
  </ul>
<% else %>
  <p>Keine Events geplant</p>
<% end %>
<p>
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="hckingcologne">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=213379535367603&amp;xfbml=1"></script><fb:like href="<%= event_url(@event)%>" send="true" width="450" show_faces="true" font=""></fb:like>
</p>
