
.span2
  %article.article.article-preview{ style: "border-top: 3px solid #{color};" }
    = image_tag "#{image}", class: 'article-image'
    %h2.article-subtitle= subtitle
    %h1.article-title= title


