
.span2
  %article.article.article-preview.article-podcast
    = image_tag "#{image}", class: 'article-image'
    %h2.article-subtitle= subtitle
    %h1.article-title= title
    = image_tag 'podcast-play.png', class: 'article-podcast-play'

