
.span2
  %article.article.article-preview{ style: "border-top: 3px solid #{color};" }
    = link_to image_tag("#{image}", class: 'article-image'), link
    %h2.article-subtitle= link_to subtitle, link
    %h1.article-title= link_to title, link


