.row.blog_extract
  .span4
    .blog_headline_indicator
      = render partial: 'modules/categories/indicator', locals: { size: "75px", color: blog_post.category.color }
    .blog_headline_black
      .blog_headline_date
        = blog_post.publishable_from.strftime("%Y-%m-%d %H:%M")
        ,
        = link_to blog_post.user.nickname, user_path(blog_post.user)
      %h1.blog_headline_text
        = link_to blog_post.headline, post_path(controller, blog_post.to_link)
    .clear
  .blog_image_span
    = link_to image_tag(blog_post.picture.box_image.url), post_path(controller, blog_post.to_link)

  .blog_text_span
    - if blog_post.mp3file?
      %audio{src: blog_post.mp3file.url, preload: "none"}
        %script
          $('audio').mediaelementplayer({audioWidth: 418});
    %p
      = raw blog_post.teaser_text
    = link_to "Weiterlesen", post_path(controller, blog_post.to_link), class: "blog_continue_link"
