%h1 
  = @venue.location

%address.event-venue{ itemscope: true, itemprop: 'location', itemtype: 'http://schema.org/Place'  }
  %span{ itemscope: true, itemprop: 'address', itemtype: 'http://schema.org/PostalAddress' }
    %span{ itemprop: 'streetAddress' }
      = @venue.street
    %br
    %span{ itemprop: 'postalCode' }
      = @venue.zipcode
    %span{ itemprop: 'addressLocality' }
      = @venue.city
  %br
  %span
    = link_to @venue.url, @venue.url
%span.description
  = @venue.description
= render "venues/map", venue: @venue

.recent-events
  -unless @next_events.empty?
    %h4
      = t("views.venues.show.upcoming_events")
    .calendar-calendar
      = render partial: "modules/calendars/days", locals: {days: @next_events, suggestions: false}
