-# ToDo: Karte anzeigen
= semantic_form_for [:admin, @venue] do |f|
  = f.inputs do
    = f.input :location
    = f.input :url
    = f.input :street
    = f.input :zipcode
    = f.input :city
    - if @current_user.admin?
      -# Admins dürfen alles
      = f.input :region, :as => :select, include_blank: false
    - else
      -# Wenn keine Region vorhanden ist, oder die Region innerhalb der vom Nutzer
      -# freigeschalteten ist, diese bearbeiten dürfen
      = f.input :region, :as => :select, :collection => @current_user.assigned_regions, include_blank: false

    = f.input :country, collection: {"Deutschland" => "DE", "Niederlande" => "NL"}, as: :select
    = f.input :description

  = f.button
