- content_for :title do
  Über

:markdown
  [hacken.in](http://hacken.in) listet Events der Hacker-Community. Es ist ein Projekt von Hackern
  für Hacker, also open source, non-profit, werbefrei und kostenlos. Wer
  hacken.in mit [Pull Requests](http://github.com/hcking/hcking), 
  Geld oder Freibier unterstützen möchte, wird mit
  gutem Karma belohnt.

  <a class="FlattrButton" style="display:none;" title="hacken.in" data-flattr-button="compact" data-flattr-uid="bodo.tasche" data-flattr-tags="events, calendar, hacking, hackers" data-flattr-category="text" href="http://hacken.in"></a>

  Mit dem Feature "Klick dir deinen Kalender" kann ein individualisierter
  Kalender erstellt werden, der jederzeit modifiziert und als iCal exportiert
  werden kann.  Über das Vorschlagenformular kann jederzeit ein neuer Termin
  eingereicht werden.  Das ganze läuft mit OpenSource Kalender-Content
  Management Systems [hcking](http://hcking.de).

%h3.teamheadline Das einzigartige, unerreichte, großartige, wunderschöne und weltbeste hacken.in Team:

%ul.thumbnails
  - @humans.each do |human|
    %li.span2
      .thumbnail.team-box
        .thumb_link
          = link_to gravatar_image_tag(human.email, class: "user_gravatar", gravatar: { default: :identicon, size: 304 }), user_path(human)

        .thumb_desc
          %h3= link_to human.nickname, user_path(human)
          %p
            %strong
              = human.team
          %p.accounts
            - unless human.twitter.blank?
              %a{href: "http://twitter.com/#{human.twitter}"}
                %i.icon-twitter

            - unless human.github.blank?
              %a{href: "https://www.github.com/#{human.github}"}
                %i.icon-github

            - unless human.homepage.blank?
              %a{href: human.homepage}
                %i.icon-home
.additional_members
  %a{href: 'https://github.com/hcking/hcking/graphs/contributors'}
    sowie einige weitere Mitstreiter, die uns mit Commits unterstützt haben:
    hcking Contributors
