%h1= t "humans.team"

%ul.thumbnails
  - @humans.each do |human|
    %li.span2
      .thumbnail
        = gravatar_image_tag human.email, class: "user_gravatar", gravatar: { default: :identicon, size: 256 }

        %h3= human.nickname
        %p
          %strong
            = human.team
          %br

          - unless human.twitter.blank?
            %i.icon-twitter
            %a{href: "http://twitter.com/#{human.twitter}"}= human.twitter
            %br

          - unless human.github.blank?
            %i.icon-github
            %a{href: "https://www.github.com/#{human.github}"}= human.github
            %br

          - unless human.homepage.blank?
            %i.icon-home
            %a{href: human.homepage}= human.homepage
            %br
