- content_for :title do
  Über

%h3
  Was ist hacken.in?

:markdown
  [hacken.in](http://hacken.in) listet Events der Hacker-Community. Es ist ein Projekt von Hackern
  für Hacker, also open source, non-profit, werbefrei und kostenlos. Wer
  hacken.in mit [Pull Requests](http://github.com/hacken-in/website), 
  Geld oder Freibier unterstützen möchte, wird mit
  gutem Karma belohnt.

  <a class="FlattrButton" style="display:none;" title="hacken.in" data-flattr-button="compact" data-flattr-uid="bodo.tasche" data-flattr-tags="events, calendar, hacking, hackers" data-flattr-category="text" href="http://hacken.in"></a>

%h3
  Danke

:markdown
  Hacken.in ist ein [OpenSource](http://de.wikipedia.org/wiki/OpenSource)
  Projekt und hätte ohne die Verwendung von OpenSource-Software nie das Licht der Welt erblickt.
  Das bedeutet, dass Du den Quellcode lesen kannst - oder auch einfach mitmachen!

  Wir möchten an dieser Stelle dankend die Projekte erwähnen, die uns geholfen oder inspiriert haben.
  Die Liste ist nicht vollständig. Eine fehlende Erwähnung bedeutet nicht, dass das Projekt geschmäht wird.

%ul
  %li
    %a{href: "http://ruby-lang.org/"} Ruby
    &amp;
    %a{href: "http://rubyonrails.org/"} Ruby on Rails
  %li
    %a{href: "https://github.com"} GitHub
  %li
    %a{href: "https://travis-ci.org/"} Travis
  %li
    %a{href: "https://uberspace.de/"} Uberspace
  %li
    %a{href: "https://bugsnag.com/"} Bugsnag

%h3
  Das Team

- @humans.each_slice(4) do |humans|
  .team-row.row
    - humans.each do |human|
      .human.large-3.columns.left
        .thumb_desc
          %h3= link_to human.nickname, user_path(human)

        .thumb_link
          = link_to avatar_for_user(human, 190, "user_gravatar"), user_path(human)

        .thumb_desc
          %p
            %strong
              = human.team
          - unless human.twitter.blank?
            %p
              %a{href: "http://twitter.com/#{human.twitter}"}
                %i.fa.fa-twitter
                Twitter

          - unless human.github.blank?
            %p
              %a{href: "https://www.github.com/#{human.github}"}
                %i.fa.fa-github
                Github

          - unless human.homepage.blank?
            %p
              %a{href: human.homepage}
                %i.fa.fa-home
                Homepage
:markdown
  Sowie einige [weitere Mitstreiter](https://github.com/hacken-in/website/graphs/contributors), die uns mit Commits unterstützt haben.
