- content_for :title do
  Über

%h3 Das ist NERDHUB:

:markdown
  NERDHUB ist ein online Kalender für die Kölner Web-Szene. Entwickler, Gründer, Designer und Internet-People finden in zwölf Kategorien bis zu 25 Termine pro Woche, die Teil von über 125 Veranstaltungsreihen sind und an über 100 Veranstaltungsorten stattfinden. Mit dem Feature "Klick dir deinen Kalender" kann ein individualisierter Kalender erstellt werden, der jederzeit modifiziert und als iCal exportiert werden kann.

  Über das Vorschlagenformular kann jederzeit ein neuer Termin eingereicht werden. 
  NERDHUB ist eine Redaktionsplattform. Ankündigungen, Nachberichterstattung und Interviews erweitern den Kalender. Reportagen, Kommentare und Podcasts vertiefen aktuelle Themen und liefern Hintergrundinformationen.
  NERDHUB ist auf [Twitter](http://twitter.com/nerdhub_cgn), [Facebook](http://facebook.com/nerdhubcgn), [Github](http://github.com/nerdhub) und [Google+](https://plus.google.com/100242723635611423369/).
  NERDHUB ist das Leuchtturmprojekt des OpenSource Kalender-Content Management Systems [hcking.de](http://hcking.de).

  Infos zur Entstehung von NERDHUB findet ihr hier: [Ankündigung: Projekt NERDHUB](http://www.droid-boy.de/?p=2734).

%h3 Das ist das Team:

%ul.thumbnails
  - @humans.each do |human|
    %li.span2
      .thumbnail.team-box
        .thumb_link
          = link_to gravatar_image_tag(human.email, class: "user_gravatar", gravatar: { default: :identicon, size: 256 }), user_path(human)

        %h3= link_to human.nickname, user_path(human)
        %p
          %strong
            = human.team
          %br

          - unless human.twitter.blank?
            %i.icon-twitter
            %a{href: "http://twitter.com/#{human.twitter}"}= human.twitter
            %br

          - unless human.github.blank?
            %i.icon-github
            %a{href: "https://www.github.com/#{human.github}"}= human.github
            %br

          - unless human.homepage.blank?
            %i.icon-home
            %a{href: human.homepage}= human.homepage
            %br
