- content_for :title do
  Über

%h3 Über hacken.in

:markdown
  Auf hacken.in findest du alle Events für Hacker in Köln. Egal ob Usergroup, Hackathon oder Brettspielabend.

  Mit dem Feature "Klick dir deinen Kalender" kann ein individualisierter Kalender erstellt werden, der jederzeit modifiziert und als iCal exportiert werden kann.
  Über das Vorschlagenformular kann jederzeit ein neuer Termin eingereicht werden.
  Das ganze läuft mit OpenSource Kalender-Content Management Systems [hcking](http://hcking.de).

%h3 Das ist das Team:

%ul.thumbnails
  - @humans.each do |human|
    %li.span2
      .thumbnail.team-box
        .thumb_link
          = link_to gravatar_image_tag(human.email, class: "user_gravatar", gravatar: { default: :identicon, size: 256 }), user_path(human)

        %h3= link_to human.nickname, user_path(human)
        %p
          %strong
            = human.team
          %br

          - unless human.twitter.blank?
            %i.icon-twitter
            %a{href: "http://twitter.com/#{human.twitter}"}= human.twitter
            %br

          - unless human.github.blank?
            %i.icon-github
            %a{href: "https://www.github.com/#{human.github}"}= human.github
            %br

          - unless human.homepage.blank?
            %i.icon-home
            %a{href: human.homepage}= human.homepage
            %br
.well.pull-right
  sowie einige weitere Mitstreiter, die uns mit Commits unterstützt haben:
  %a{href: 'https://github.com/hcking/hcking/graphs/contributors'}
    hcking Contributors
