- content_for :title do
  Kalender

- content_for :javascript do
  :javascript
    var beginningOfTime = '#{@start_date}';
    var calendarPresets = #{@presets_json.to_json};

.row.header-sep-line
  .span4
    = render partial: 'modules/calendars/startselector', locals: { months: @months }
    .calendar-calendar
      = render partial: 'modules/calendars/calendar', locals: { single_events: @single_events }
  .span2
    .calendar-head
      = image_tag('klick-den-cal.png')

    = render partial: 'modules/calendars/kddk', locals: { presets: @presets, categories: @categories }
    = render partial: 'modules/tags/calendar_tags'

    - if user_signed_in?
      = render 'modules/calendars/ical_popup'
      .calendar-export
        %button.btn.btn-large.btn-inverse.js-calendar-export
          %i.icon-calendar
          In meinen Kalender
    - else
      %p.not_logged_in_warning.muted
        Als angemeldeter Benutzer kannst du deinen Kalender hier auch noch nach bestimmten Hashtags filtern oder in deinen Desktop-Kalendar importieren.

    %p.suggest_link
      Fehlt ein Event? Dann 
      = link_to "sag uns bescheid", new_suggestion_path
      !

    %a{class:"FlattrButton", style:"display:none;", href:"http://hacken.in"}
