- content_for :title do
  = t('.title')

:javascript
  var regionSlug         = '#{current_region.main_slug}';

= render @start_selector

= render partial: "modules/calendars/days", locals: {days: @calendar.days, suggestions: true}

.calendar-loading
  = render "modules/common/spinner"
