- content_for :javascript do
  :javascript
    var calendarPresets = #{@presets_json.to_json}

.row.header-sep-line
  .span4
    = render partial: 'modules/calendars/startselector', locals: { months: @months }
    = render partial: 'modules/calendars/calendar', locals: { single_events: @single_events }
  .span2
    .calendar-head
      = image_tag('klick-den-cal.png')

    = render partial: 'modules/calendars/kddk'
    = render partial: 'modules/tags/calendar_tags'
    %button.btn.btn-large.btn-primary
      Export
