- unless tag_list.empty?
  %ul.tags
    - tag_list.each do |tag|
      %li
        .tag_layer
          .inner_tag_layer
            - if user_signed_in?

              - if current_user.like_list.include? tag
                = form_for :user_like_tags, method: :delete, url: user_tag_path(user_id: current_user.id, kind: 'like', id: tag) do |f|
                  = f.submit 'nicht mehr lieben'
              - else
                = form_for :user_like_tags, url: user_tags_path(user_id: current_user.id, kind: 'like') do |f|
                  = f.hidden_field :list, value: tag, id: nil
                  = f.submit 'lieben'

              - if current_user.hate_list.include? tag
                = form_for :user_hate_tags, method: :delete, url: user_tag_path(user_id: current_user.id, kind: 'hate', id: tag) do |f|
                  = f.submit 'nicht mehr ignorieren'
              - else
                = form_for :user_hate_tags, url: user_tags_path(user_id: current_user.id, kind: 'hate') do |f|
                  = f.hidden_field :list, value: tag, id: nil
                  = f.submit 'ignorieren'

            - else
              Melde dich an, um dieses Tag zu lieben/ignorieren

        = link_to tag, tag_path(tag)

