- unless @single_events.empty?
  %h2 Termine mit dem Tag "#{params[:tagname]}"

  = render 'single_events/lists', single_events: @single_events

- if !@events.empty?
  - if !@single_events.empty?
    %h2 Weitere Events ohne n채chstes Datum f체r "#{params[:tagname]}"
  - else
    %h2 Events ohne Datum f체r "#{params[:tagname]}"
  - @events.each do |event|
    %p
      = link_to event.name, event_path(event)
      = render 'tags/tags', tag_list: event.tag_list
- elsif @single_events.empty?
  %h2 Events f체r das Tag "#{params[:tagname]}"
  %p Es scheint keine Events mit diesem Tag zu geben.
