- unless @single_events.empty?
  %h2 Termine mit dem Tag "#{params[:tagname]}"

  = render 'single_events/lists', single_events: @single_events

- if !@events.empty?
  - if !@single_events.empty?
    %h2 Weitere Events ohne nächstes Datum für "#{params[:tagname]}"
  - else
    %h2 Events ohne Datum für "#{params[:tagname]}"
  - @events.each do |event|
    %p
      = link_to event.name, event_path(event)
      = render 'tags/tags', tag_list: event.tag_list
- elsif @single_events.empty?
  %h2 Events für das Tag "#{params[:tagname]}"
  %p Es scheint keine Events mit diesem Tag zu geben.

%p= link_to "iCal für diesen Tag  abonnieren", url_for(action: "abonnieren", controller: "welcome", format: "ical", only_path: false, tag_id: params[:tagname])
