.comment
  %a{name: "comment_#{comment.id}", class: "comment_anchor"}
  .comment-gravatar
    %a{class: 'comment-avatar', href: user_path(comment.user)}= avatar_for_user(comment.user, 87, 'gravatar_image')
  .comment-content
    %p.comment-name
      = link_to comment.user_nickname, user_path(comment.user), class: 'hidden-link'
      sagte
    %p.comment-date
      = I18n.localize(comment.created_at, format: :long)
    = convert_markdown comment.body, true
    - if comment.created_at != comment.updated_at
      %p.comment-edit-date
        = "(zuletzt geändert am #{I18n.localize(comment.created_at, format: :long)})"
    %p
      - if can? :edit, comment
        = link_to "Editieren", edit_comment_path(comment)
      - if can? :destroy, comment
        = link_to "Löschen", comment_path(comment), :"data-confirm" => "Ihren Kommentar wirklich löschen?", method: :delete
