= form_for comment, url: comment.new_record? ? comments_path(comment) : comment_path(comment) do |form|
  .comment-avatar
    = avatar_for_user((comment.user.nil? ? current_user : comment.user), avatar_size, 'gravatar_user_input')
  .content
    .previewable
      = form.text_area :body, class: 'preview-base'
    = form.submit t('comments._form.comment_button'), class: 'btn btn-inverse comment-submit-button pull-right'
    = render "commons/markdown_info"
