= semantic_form_for [:admin, @welcome_content] do |form|
  = form.semantic_fields_for :carousel do |f|
    = f.inputs "carousel" do
      = f.inputs "carousel items" do
        = render 'carousel_fields', :f => f
      = add_carousel_link(f)
      :javascript
        $(function(){
          $('.add_task').on('click', function(e){
            e.preventDefault();
            time = new Date().getTime()
            regexp = new RegExp("id", 'g')
            $('#carousels').append($(this).data('partial1').replace(regexp, time));
            $('#carousels').append($(this).data('partial2').replace(regexp, time));
          });
        });

  - 1.upto(6) do |i|
    = form.semantic_fields_for "box_#{i}".to_sym do |f|
      = f.inputs "box_#{i}" do
        = f.input :type, input_html: {rows: 1}, :as => :select, :collection => ["BlogPost", "ad", "Podcast" ]
        = f.input :type_id, :label => "Choose BlogPost or Podcast", :as => :select, :collection => BlogPost.all.map{|u| [u.headline, u.id]}
        = f.input :image_id, :as => :select, :collection => Picture.all.map{|u| [u.title, u.id]}
  = form.button
