<h2>Passwort ändern</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= i18n_devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Neues Passwort speichern" %></p>
<% end %>

<%= render :partial => "users/shared/links" %>
