- content_for :title do
  = t('registrations.password_forgotten.title')

%h2= t('registrations.password_forgotten.title')

= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' } do |f|
  = f.input :email

  %ul.controls
    %li= f.submit t('registrations.password_forgotten.submit'), class: 'button'
    = render partial: "users/shared/links"
