- if user_signed_in? && current_region.present?
  #calendarExportModal.reveal-modal{data: { reveal: true }}
    %button.close-reveal-modal Close
    %h3 Kalender importieren

    - my_cal_url_webcal    = url_for(action: 'personalized',      protocol: 'webcal', controller: 'ical', format: 'ical', only_path: false, guid: current_user.guid)
    - my_cal_url_http      = url_for(action: 'personalized',      protocol: 'http',   controller: 'ical', format: 'ical', only_path: false, guid: current_user.guid)
    - my_cal_url_google    = "http://google.com/calendar/render?cid=#{CGI.escape(my_cal_url_http)}"
    - no_ignore_url_webcal = url_for(action: 'like_welcome_page', protocol: 'webcal', controller: 'ical', format: 'ical', only_path: false, guid: current_user.guid)
    - no_ignore_url_http   = url_for(action: 'like_welcome_page', protocol: 'http',   controller: 'ical', format: 'ical', only_path: false, guid: current_user.guid)
    - no_ignore_url_google = "http://google.com/calendar/render?cid=#{CGI.escape(no_ignore_url_http)}"

    %p= t('modules.common.ical_popup.explanation')

    %dl.tabs{ 'data-tab' => true }
      %dd.active
        = link_to 'Alle Termine', '#my-cal-tab'
      %dd
        = link_to 'Nur Termine an denen ich teilnehme', '#no-ignore-url-tab'

    .tabs-content
      #my-cal-tab.content.active
        %p= t('modules.common.ical_popup.calendar_except_ignored')

        %ul.button-group
          %li= link_to t('modules.common.ical_popup.import_into_ical_button'), my_cal_url_webcal, class: 'button'
          %li= link_to t('modules.common.ical_popup.import_into_google_button'), my_cal_url_google, class: 'button'

        %label{ for: 'my_cal_url' }= t('modules.common.ical_popup.manually')
        %input{ name: 'my_cal_url', type: 'text', value: my_cal_url_http }

      #no-ignore-url-tab.content
        %p= t('modules.common.ical_popup.calendar_only_participating')

        %ul.button-group
          %li= link_to t('modules.common.ical_popup.import_into_ical_button'), no_ignore_url_webcal, class: 'button'
          %li= link_to t('modules.common.ical_popup.import_into_google_button'), no_ignore_url_google, class: 'button'

        %label{ for: 'my_cal_url' }= t('modules.common.ical_popup.manually')
        %input{ name: 'my_cal_url', type: 'text', value: no_ignore_url_http }
