%aside.sidebar
  - if current_user
    .row
      .small-11.small-centered.columns
        %h3= t('.greeting', name: current_user.nickname)

    .row
      .sidebar-button.small-11.small-centered.columns= link_to t('.my_profile'), user_path(current_user), class: 'small-12 button'

    .row
      .sidebar-button.small-11.small-centered.columns= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'small-12 button'

    - if current_region.present?
      .row
        .sidebar-button.small-11.small-centered.columns
          = link_to t('.add_to_my_calendar'), '#', 'data-reveal-id' => 'calendarExportModal', class: 'small-12 button'

  - else
    = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      .row
        .small-11.small-centered.columns
          %h3= t('.login')
      .row
        .small-11.small-centered.columns= f.text_field :email, placeholder: t('.email')
      .row
        .small-11.small-centered.columns= f.password_field :password, placeholder: t('.password')

      .row
        .sidebar-button.small-11.small-centered.columns= f.submit t('.login'), class: 'small-12 button'

      - User.omniauth_providers.each do |provider|
        .row
          .small-11.small-centered.columns
            = link_to user_omniauth_authorize_url(provider), title: provider, class: 'social-login' do
              %i{class: "fa fa-#{provider}"}
              = t('.login_with', provider: provider.to_s.capitalize)
      .row
        .small-11.small-centered.columns= link_to t('.register_instead'), new_registration_path(resource_name), class: 'social-login'

  %hr

  %ul
    %li= link_to t('.team'), humans_path
    %li= link_to t('.imprint'), impressum_path
    %li
      = link_to 'https://github.com/hacken-in/' do
        %i.fa.fa-github
        Github
    %li
      = link_to 'https://www.twitter.com/hacken_in' do
        %i.fa.fa-twitter
        Twitter
    %li.flattr
      %a.FlattrButton{data: { flattr: { button: "compact", category: "text", tags: "events, calendar, hacking, hackers", uid: "bodo.tasche"}}, href: "http://hacken.in", style: "display:none;", title: "hacken.in"}

  .uberspace
    = link_to 'https://uberspace.de' do
      = image_tag 'uberspace-badge.png', alt: 'Hosting by Uberspace'
