%aside.left-off-canvas-menu
  .close-area.exit-off-canvas

  - if current_user
    .row
      .small-11.small-centered.columns
        %h3= t('.greeting', name: current_user.nickname)

    .row
      .small-11.small-centered.columns= link_to t('.my_profile'), user_path(current_user), class: 'small-12 button'

    .row
      .small-11.small-centered.columns= link_to t('.logout'), destroy_user_session_path, method: :delete, class: 'small-12 button'

  - else
    = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
      .row
        .small-11.small-centered.columns
          %h3= t('.login')
      .row
        .small-11.small-centered.columns= f.text_field :email, placeholder: t('.email')
      .row
        .small-11.small-centered.columns= f.password_field :password, placeholder: t('.password')

      .row
        .small-11.small-centered.columns= f.submit t('.login'), class: 'small-12 button'

      - if devise_mapping.rememberable?
        .row
          .small-11.small-centered.columns
            = f.check_box :remember_me, :as => :boolean
            = f.label :remember_me, t('.remember_me')

      - User.omniauth_providers.each do |provider|
        .row
          .small-11.small-centered.columns= link_to t('.login_with', provider: provider.to_s.capitalize), user_omniauth_authorize_url(provider), title: provider, class: 'small-12 button'

      .row
        .small-11.small-centered.columns= link_to t('.register_instead'), new_registration_path(resource_name), class: 'small-12 button'

  %hr

  .row
    .small-11.small-centered.columns= link_to t('.suggest_event'), new_suggestion_path, class: 'small-12 button'
  .row
    .small-11.small-centered.columns= link_to t('.imprint'), impressum_path, class: 'small-12 button'

  %hr

  %ul.off-canvas-list
    %li= link_to 'Team', humans_path
    %li= link_to 'Impressum', impressum_path
    %li= link_to 'Github', 'https://github.com/hcking'
    %li= link_to 'App.net', 'https://alpha.app.net/hacken_in'
    %li= link_to 'Twitter', 'https://www.twitter.com/hacken_in'
