= semantic_form_for [:admin, @user] do |f|
  = f.inputs "Allgemein" do
    = f.input :nickname
    = f.input :name
    = f.input :email
    = f.input :description
  = f.inputs "Kontakt" do
    = f.input :github
    = f.input :twitter
    = f.input :homepage
  = f.inputs "Nerdhub" do
    = f.input :admin
    = f.input :team
  = f.button
