= semantic_form_for [:admin, @user] do |f|
  = f.inputs "Allgemein" do
    = f.input :nickname
    = f.input :name
    = f.input :email
    = f.input :description
    = f.input :password
    = f.input :password_confirmation
  = f.inputs "Kontakt" do
    = f.input :github
    = f.input :twitter
    = f.input :homepage
  = f.inputs "hacken.in Admin" do
    = f.input :admin
    = f.input :team
  = f.inputs "Regions Organisatoren" do
    = f.input :assigned_regions, :as => :check_boxes
  = f.inputs "Event Kuratoren" do
    = f.input :curated_events, :as => :check_boxes, collection: Event.unscoped.order(:name)
  = f.button
