- content_for :title do
  Neuer Vorschlag

%h2= t "suggestions.new.title"

= simple_form_for @suggestion, html: { class: 'form-horizontal' } do |f|
  %p= t "suggestions.new.introduction"

  = f.input :email_address, hint: t("suggestions.new.email_address_hint")
  = f.input :description, hint: t("suggestions.new.description_hint")

  .form-actions
    = f.submit 'Absenden', class: 'btn btn-inverse'
