= semantic_form_for [:admin, @blog_post] do |f|
  = f.inputs "Details" do
    = f.input :category, collection: Category.where(blog_category: true).order("title")
    = f.input :user, collection: User.where(admin: true)
    = f.input :headline
    = f.input :publishable_from
    = f.input :publishable
    = f.input :picture
    = f.input :blog_type, as: :select, :collection => {"Blog" => "blog", "Podcast" => "podcast"}
    = f.input :mp3file
    - if @blog_post.mp3file?
      %audio{src: @blog_post.mp3file.url, preload: "none"}
        %script
          $('audio').mediaelementplayer();
  = f.inputs "Teaser" do
    = f.input :headline_teaser, input_html: {rows: 1}
    = f.input :teaser_text, input_html: {rows: 3}
  = f.inputs "Inhalt" do
    = f.input :text
  = f.button
