!!! 5
%html
  %body
    %h1
      Änderung an #{@record.class.to_s} # #{@record.id}
      - if @record.respond_to? (:title)
        \: #{@record.title}
    %p Änderung wurde durchgeführt von #{User.current.nil? ? "Anonym" : link_to(User.current.nickname, user_url(User.current))}.
    %h2 Änderungen:
    %table{border:"1px"}
      %tr
        %th Content
        %td= @old_content
        %td= @new_content
    %h2 Json der alten Version:
    %pre
      = @record.old_state
