!!! 5
%html
  %body
    %h1 Neuer #{@record.class.to_s} # #{@record.id} : #{@record.title}
    %p Angelegt von #{User.current.nil? ? "Anonym" : link_to(User.current.nickname, user_path(User.current))}.
    %table
      - @record.attributes.keys.each do |key|
        %tr
          %th= key
          %td= @record.attributes[key]
