!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) + " – nerdhub.de" : "nerdhub.de"
    = auto_discovery_link_tag :atom, "/blog/feed"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render_opengraph("og:title" => "nerdhub.de",
            "og:image" => "#{request.protocol}#{request.host_with_port}#{asset_path("opengraph_embed.png")}",
            "og:url" => url_for(only_path: false),
            "og:site_name"=> "nerdhub.de",
            "fb:admins" => "520869354",
            "og:type" => "website",
            "og:description" => "Der Event-Kalender für Nerds")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35910989-1']);
      _gaq.push(['_setDomainName', 'nerdhub.de']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = yield(:javascript)

    %link{ href: 'http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700', rel:'stylesheet', type:'text/css'}

  %body{:class => "#{controller.controller_name}_#{controller.action_name}" }
    %header.container
      .navbar
        .navbar-inner
          = link_to image_tag('logo.png', width:"325px", height:"53px"), root_path, class: 'brand', title: 'NERDHUB'
          = render_navigation

    .container
      - if flash[:notice]
        .alert.alert-block
          %button{type:'button', class:'close', "data-dismiss" => 'alert'}x
          = flash[:notice]
      - if flash[:error]
        .alert.alert-block.alert-error
          %button{type:'button', class:'close', "data-dismiss" => 'alert'}x
          = flash[:error]
      - if flash[:alert]
        .alert.alert-block.alert-error
          %button{type:'button', class:'close', "data-dismiss" => 'alert'}x
          = flash[:alert]

      = yield

      .this_is_cologne
        .row
          .span6
            %h1
              %a{href: "http://thisiscologne.tumblr.com"}
                \#THISISCOLOGNE

        .row.image_row
          .span2.this-is-cologne#tic1
            = this_is_cologne(0)
          .span2.this-is-cologne#tic2
            = this_is_cologne(1)
          .span2.this-is-cologne#tic3
            = this_is_cologne(2)

    %footer.container.main-footer
      .navbar
        .navbar-inner
          %ul.nav.footer-nav
            %li= link_to 'TEAM', humans_path, class: 'nav-link'
            %li= link_to 'KONTAKT', contact_path, class: 'nav-link'
            %li= link_to 'NEWSLETTER', newsletter_path, class: 'nav-link'
            %li= link_to 'IMPRESSUM', impressum_path, class: 'nav-link'
          %ul.nav.social-nav.pull-right
            %li
              %a.nav-link{ href: "http://www.facebook.com/nerdhubcgn", title: "Nerdhub auf Facebook" }
                %i.icon-facebook-sign
            %li 
              %a.nav-link{ href: "http://www.twitter.com/nerdhub_cgn", title: "Nerdhub auf Twitter" }
                %i.icon-twitter-sign
            %li 
              %a.nav-link{ href: "http://www.github.com/nerdhub", title: "Nerdhub auf Github" }
                %i.icon-github-sign

