!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) + " – hcking.de" : "hcking.de"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %link{:rel=>"shortcut icon", :href=> "#{asset_path "favicon.png", "images"}"}
    = csrf_meta_tags
    :javascript

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-954244-12']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = yield(:javascript)

  %body
    %a{:href => "http://github.com/bitboxer/hcking"}
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;",
        :src =>"https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67", 
        :alt =>"Fork me on GitHub"}
    %header{:class => "#{content_for?(:aside) ? 'with' : 'without'}_aside"}
      = image_tag "#{asset_path "logo.gif"}"
      %a{:href => "/", :class => "logo"} hcking.de
      #user_login
        - if current_user
          Hallo
          %a{:href => "#{edit_user_registration_path}"}<
            = current_user.nickname
          \|
          %a{:href => "#{destroy_user_session_path}"} Abmelden
        - else
          %a{:href => "#{new_user_session_path}"} Anmelden
          \|
          %a{:href => "#{new_user_registration_path}"} Registrieren

    %section{:class => "#{content_for?(:aside) ? 'with' : 'without'}_aside"}
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => "flash_#{name}"
      = content_tag :h1, yield(:title) if show_title?

      - if content_for? :aside
        %aside= yield :aside
      = yield

      %br{:style => "clear:both"}

    %footer
      Dieser Event-Kalender ist ein Service von
      %a{:href => "http://bodotasche.de"} Bodo "bitboxer" Tasche
      und
      %a{:href => "https://github.com/moonglum"} Lucas "moonglum" Dohmen
      \-
      %a{:href => "/impressum"} Impressum
      \-
      %a{:href => "/about"} Über hcking.de
      \-
      %a{:href => "http://creativecommons.org/licenses/by-nc/3.0/de/"} cc-by-nc 3.0
