!!! 5
%html
  %head

    %title= content_for?(:title) ? yield(:title) + " – " + sitename : sitename
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    - if content_for?(:opengraph) 
      = yield(:opengraph)
    = render_opengraph("og:title" => content_for?(:title) ? yield(:title) + " – hacken.in" : "hacken.in",
          "og:url" => url_for(only_path: false),
          "og:site_name"=> "hacken.in",
          "fb:admins" => "520869354",
          "og:type" => "website",
          "og:description" => "Der Event-Kalender für Nerds")
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40669307-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
      })();

    %link{ href: 'http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,300,700', rel:'stylesheet', type:'text/css'}

  %body{:class => "#{controller.controller_name}_#{controller.action_name}" }
    .off-canvas-wrap
      .inner-wrap
        %a.exit-off-canvas
        = render 'modules/common/topbar'
        = render 'modules/common/sidebar'
        = render 'modules/common/searchform'
        = render 'modules/common/ical_popup'
        = render 'modules/common/flash'
        = yield

    = javascript_include_tag "application"
