<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + " - " : "" %>hcking</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="headline">
    <a href="/">Hcking</a>
  </div>
  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= content_tag :h1, yield(:title) if show_title? %>
    <%= yield %>
  </div>
  <div id="footer">
    Dieser Event-Kalender ist ein Service von <a href="http://bodotasche.de">Bodo "bitboxer" Tasche</a> -
    <a href="/impressum">Impressum</a> - <a href="/about">Über hcking.de</a> - <a href="http://creativecommons.org/licenses/by-nc/3.0/de/">cc-by-nc 3.0</a>
  </div>
</body>
</html>
