!!! 5
%html
  %head

    %title= content_for?(:title) ? yield(:title) + " – " + sitename : sitename
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    - if content_for?(:opengraph) 
      = yield(:opengraph)
    = render_opengraph("og:title" => content_for?(:title) ? yield(:title) + " – hacken.in" : "hacken.in",
          "og:url" => url_for(only_path: false),
          "og:site_name"=> "hacken.in",
          "fb:admins" => "520869354",
          "og:type" => "website",
          "og:description" => "Der Event-Kalender für Nerds")
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40669307-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
      })();

    = yield(:javascript)

    %link{ href: 'http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,300,700', rel:'stylesheet', type:'text/css'}

  %body{:class => "#{controller.controller_name}_#{controller.action_name}" }
    .off-canvas-wrap
      .inner-wrap
        %header
          %nav.top-bar{ data: { topbar: true } }
            %ul.title-area
              %li.name
                %h1= link_to 'hacken.in', :root

              %section.top-bar-section
                %ul.right
                  %li= link_to 'Login', user_session_path, class: "login-nav-link", :"data-reveal-id" => "login-form"
                  %li
                    %a.left-off-canvas-toggle.menu-icon
                      %span

          = render 'users/sessions/loginform_popup'
          = render 'users/sessions/logoutform_popup'
          = render 'modules/common/sidebar'

        .container
          - if flash[:notice]
            .alert.alert-block
              %button{type:'button', class:'close', "data-dismiss" => 'alert'}x
              = flash[:notice]
          - if flash[:error]
            .alert.alert-block.alert-error
              %button{type:'button', class:'close', "data-dismiss" => 'alert'}x
              = flash[:error]
          - if flash[:alert]
            .alert.alert-block.alert-error
              %button{type:'button', class:'close', "data-dismiss" => 'alert'}x
              = flash[:alert]

          = yield

        %footer.container.main-footer
          .navbar
            .navbar-inner
              %ul.nav.footer-nav
                %li= link_to 'TEAM', humans_path, class: 'nav-link'
                %li= link_to 'IMPRESSUM', impressum_path, class: 'nav-link'
              %ul.nav.social-nav.pull-right
                %li
                  %a.nav-link{ href: "http://www.github.com/hcking", title: "hacken.in auf GitHub" }
                    %i.icon-github
                %li
                  %a.nav-link{ href: "https://alpha.app.net/hacken_in", title: "hacken.in auf App.net" }
                    %i.icon-adn
                %li
                  %a.nav-link{ href: "http://www.twitter.com/hacken_in", title: "hacken.in auf Twitter" }
                    %i.icon-twitter

    = javascript_include_tag "application"
