!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) + " – nerdhub.de" : "nerdhub.de"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render_opengraph("og:title" => "nerdhub.de",
            "og:image" => "#{request.protocol}#{request.host_with_port}#{asset_path("opengraph_embed.png")}",
            "og:url" => url_for(only_path: false),
            "og:site_name"=> "nerdhub.de",
            "fb:admins" => "520869354",
            "og:type" => "website",
            "og:description" => "Der Event-Kalender für Nerds")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-954244-12']);
      _gaq.push (['_gat._anonymizeIp']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = yield(:javascript)

  %body{:class => "#{controller.controller_name}_#{controller.action_name}" }
    %header.container.main-header
      .navbar
        .navbar-inner
          = link_to image_tag('logo.png'), root_path, class: 'brand', title: 'NERDHUB'
          %ul.nav.main-nav.pull-right
            %li.active= link_to 'KALENDER', '#', class: 'main-nav-link'
            %li= link_to 'BLOG', '#', class: 'main-nav-link'
            %li= link_to 'PODCASTS', '#', class: 'main-nav-link'
            %li= link_to 'LOGIN', '#', class: 'main-nav-link last'

    .container
      = yield

      .row
        .span6
          THIS IS COLOGNE

      .row
        .span2.this-is-cologne
          PIC1
        .span2.this-is-cologne
          PIC2
        .span2.this-is-cologne
          PIC3

    %footer.container
      .navbar
        .navbar-inner
          %ul.nav
            %li= link_to 'TEAM','#'
            %li= link_to 'KONTAKT','#'
            %li= link_to 'NEWSLETTER','#'
            %li= link_to 'IMPRESSUM','#'
          %ul.nav.pull-right
            %li= link_to 'F','http://www.facebook.com/nerdhubcgn'
            %li= link_to 'T','http://www.twitter.com/nerdhub_cgn'
            %li= link_to 'G','http://www.github.com/nerdhub'
