%h2= t 'registrations.edit.edit_profile'
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
  %fieldset
    %legend= t('registrations.edit.profile')
  .row
    .span3
      = f.input :nickname
      .control-group.text.optional
        = f.label :description
        .controls.previewable
          = f.text_area :description, cols: 70, rows: 10, class: 'preview-base'
          = render 'commons/markdown_info'
      = f.input :twitter
      = f.input :github
      = f.input :homepage
      = f.input :allow_ignore_view, :as => :boolean, :label => t('users.edit.allow_ignore_view')
        
      %fieldset
        %legend= t 'registrations.oauth.title'
        %ul
          - f.object.authorizations.each do |auth|
            %li
              = "#{auth.provider.humanize} (User ID: #{auth.uid})"
              = link_to t('registrations.oauth.delete'), user_authorization_path(f.object, auth), :"data-confirm" => t('common.confirm_delete'), method: :delete unless f.object.needs_one_authorization?
        - if f.object.needs_one_authorization?
          %p=t 'registrations.oauth.only_one_no_password'
              
        .control-group
          %label= t('registrations.oauth.more')
          .controls
            - f.object.available_providers.each do |provider|
              = link_to image_tag("oauth/#{provider.to_s}.png"), user_omniauth_authorize_url(provider)
    .span3
      %ul.thumbnails.pull-right
        %li
          .thumbnail
            = gravatar_image_tag(current_user.email_was || current_user.email, alt: 'Change on Gravatar', gravatar: { default: :identicon, size: 256 }, class: 'gravatar')
            %h3=t('registrations.edit.gravatar')
            %p{style: 'text-align: right'}
              = link_to t('registrations.edit.change_gravatar'), "http://gravatar.com", target: '_blank'
  %fieldset
    %legend
      = t 'registragions.edit.danger_zone'
    - if f.object.encrypted_password?
      .alert.alert-error 
        %strong=t('registrations.edit.warning')
      = f.input :current_password, :as => :password
      %br
    - else
      .alert.alert-info
        %strong=t('registrations.oauth.email')
    = f.input :email
    = f.input :password, :as => :password, :label => t('registrations.edit.password_label'), :hint =>  t('registrations.edit.password_hint')
    = f.input :password_confirmation, :as => :password
        
  .controls
    =f.submit t('registrations.edit.save_profile'), class: 'btn btn-inverse'

  %fieldset
    %legend= t 'registrations.edit.delete_profile'
  %p=t 'registrations.edit.delete_profile_text'
  %br
  .controls
    = link_to t('registrations.edit.delete_confirm'), registration_path(resource_name), :confirm => t('common.confirm_delete'), :method => :delete, :class => 'btn btn-danger'

= link_to "Zurück", :back
