<h2>Registrieren</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :nickname %><br />
  <%= f.text_field :nickname %></p>
  
  <% if resource.email_required? %>
    <p><%= f.label :email %><br />
    <%= f.text_field :email %></p>
  <% end %>
  
  <% if resource.password_required? && !params[:auth].present? %>
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
  <% end %>
  
  <% if resource.auth_temp_token %>
  <%= f.hidden_field :auth_temp_token, value: resource.auth_temp_token %>
  <%end %>
  <p><%= f.submit "Speichern" %></p>
<% end %>

<%= render partial: "users/shared/links" %>
